[2015-10-08 01:08] Ichimonji10 opened #1 "`make lint` blows up on Python 3.5"
The `lint` make target calls `pylint`, which makes use of astroid. From my reading of the Travis log files, astroid does not yet work well on Python 3.5. We should skip this particular test for Python 3.5. For an example of how to conditionally execute a `script:` element in `.travis.yml`, see Tornado's `.travis.yml`: https://github.com/tornadoweb/tornado/blob/master/.travis.yml

[2015-10-08 14:38] Ichimonji10 opened #2 "Support `python setup.py test`"
The canonical way to run Pulp Smash's unit tests is via the `make test` command. This works, but its implementation is entirely ad-hoc. We should consider supporting the `test` command provided by setuptools. According to [the documentation](http://pythonhosted.org/setuptools/setuptools.html#test):

It's actually pretty trivial to implement this change. I've attached a patch inline below. The more

[2015-10-08 14:44] Ichimonji10 opened #3 "List available tests at runtime"
It's possible to run Pulp tests with the following commands:

[code]

As the number of test modules grows, the list above will grow too. It would be nice if we could tell users about this list at run-time, rather than forcing them to examine the source code to see what modules are available. Imagine something like this:

[code]

I don't know exactly how, but I'm sure this is possible. Consider the

[2015-10-08 14:52] Ichimonji10 opened #4 "Ignore SSL verification warnings"
Let's suppress SSL verification warnings. If a user sets `"verify": False` in their configuration file, then the responsibility for the fall-out of that decision lies with them. And if they do not suppress SSL verification, then a different warning is raised.

Here's what Pulp testing looks like right now:

[code]

NailGun's solution may be adaptable to our situation:

[code]

[2015-10-08 14:57] elyezer commented on #3
One thing that should be took into consideration here is that if will not be created a new test runner (like nose and py.test).or provide most features that they already provide out of the box.

[2015-10-08 20:13] Ichimonji10 commented on #1
Pylint depends on a library called astroid. According to [this issue](https://bitbucket.org/logilab/pylint/issues/660/python35-problem-importing-module), astroid 1.3.8 is incompatible with Python 3.5, but astroid 1.4.0 is compatible. PyPI currently offers astroid 1.3.8. I suggest working around this issue and reverting the workaround when 1.4.0 is uploaded.

[2015-10-08 20:25] #1 closed

[2015-10-08 20:30] Ichimonji10 commented on #1
I'm currently pushing branches to master, waiting for Travis to validate them, and then merging them unilaterally. I'm doing this because Pulp Smash is an extremely new library with numerous weaknesses, and as the primary author, I feel comfortable taking this license. However, this is *not* a good long term development strategy. When it seems appropriate, I will switch to forking the library, sub

[2015-10-08 20:31] Ichimonji10 commented on #3
I don't understand your comment, @elyezer. Can you try to wordsmith that comment for me, or can you follow up with me on IRC?

[2015-10-09 21:12] Ichimonji10 opened #5 "Expand "Destructiveness" section in documentation"
The *Pulp Smash* → *About* → *Scope and Limitations* → [*Destructiveness*](http://pulp-smash.readthedocs.org/en/latest/about.html#destructiveness) section in the documentation should be expanded. That section currently states:

It would be good to decide this so that we can adapt tests from the existing Pulp Automation test suite with confidence.

<del>(I have not yet hooked Pulp Smash in to Read

[2015-10-12 12:53] Ichimonji10 commented on #1
See: https://bitbucket.org/logilab/pylint/issues/660/python35-problem-importing-module#comment-22430431

[2015-10-12 16:48] Ichimonji10 commented on #5
Documentation is now available on Read The Docs. See [here](http://pulp-smash.readthedocs.org/en/latest/).

[2015-10-13 15:10] Ichimonji10 opened #11 "Split tests into sections"
All tests currently reside in `pulp_smash/tests/`. This works, but it doesn't scale well. How can a user find the kind of test they're looking for?

I'd recommend changing the layout from this:

[code]

To this:

[code]

[2015-10-13 16:14] Ichimonji10 opened #12 "Drop static attributes from ServerConfig class"
The `pulp_smash.config.ServerConfig` class currently has static attributes named `_xdg_config_dir` and `_xdg_config_file`. These attributes are used by other methods when those methods need to choose a configuration file to manipulate. For example, `read()` consults these attributes when deciding which file to read.

This works well if there's only one configuration file that is in use. But what i

[2015-10-13 16:57] Ichimonji10 opened #13 "Allow user to select configuration file"
Pulp Smash's configuration file does not live with the source code itself. This has the advantage that Pulp Smash can be installed in one of many ways, yet the test suite can still be called in an indentical manner. It doesn't matter whether you:

* Install system-wide by executing `sudo pip install pulp_smash` or `sudo python setup.py install`
* Install on a per-user basis with `python setup.py i

[2015-10-13 16:58] Ichimonji10 commented on #13
@peterlacko

[2015-10-13 17:06] Ichimonji10 opened #14 "Create and document installable pulp-smash script"
Pulp Smash does not and never will install executable scripts into system-wide locations. That's something for either a package manager or a system administrator to do. That said, there's nothing wrong with providing shell scripts for their use!

Let's create a shell script. It can look like this:

[code]

Let's call this script `pulp-smash`, make it executable, place it somewhere in the `docs` di

[2015-10-13 17:21] Ichimonji10 opened #15 "Create Issues for Porting Tests"
<p><ins>This issue was originally entitled "Port Tests from Pulp Automation," and what follows is the original issue description. See https://github.com/PulpQE/pulp-smash/issues/15#issuecomment-189412295 for updated thoughts.</ins></p>

Let's port tests from Pulp Automation to Pulp Smash.

Not all tests can be ported right away. Right now, only tests that target a single Pulp server can be easily

[2015-10-14 14:22] elyezer commented on #4
:+1:

[2015-10-14 14:26] elyezer commented on #5
If cleaning the environment is a must, then using a throw away approach is better. Cleaning data is not reliable as throwing the system because the clean endpoints could fail and this will bring us another point what to do when this happens?

[2015-10-14 14:29] elyezer commented on #11
:+1:

[2015-10-14 14:35] elyezer commented on #12
What if the ServerConfig receives the `xdg_config_file` as a parameter (on `__init__`)? IMO this looks better because one don't have to access a private variable (also autocomplete editors and ipython will not show that attr).

[2015-10-14 14:40] elyezer commented on #13
Will the config file be searched on the current working directory? What is the default set of paths that it will walk in order to find the config file?

[2015-10-14 14:42] elyezer commented on #14
Python setup utilities offers a way to provide a executable script and also some entry points. I can't remember from the top of my head if that will help in some way here, but have it been analyzed?

[2015-10-14 14:52] Ichimonji10 commented on #13
@elyezer The following set of locations is searcheddirectories is walked in order to find the config file:

1. `$XDG_CONFIG_HOME/pulp_smash/settings.json` (`$XDG_CONFIG_HOME` defaults to `$HOME/.config`.)
2. For each directory in `$XDG_CONFIG_DIRS`, `…/pulp_smash/settings.json` (`$XDG_CONFIG_DIRS` defaults to `/etc/xdg`.)

See: http://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2015-10-14 16:59] peterlacko commented on #11
I would suggest one more directory level indicating functionality which we test to:
* general_tests/ (would contain tests not related to content, like create/update/delete user, change permissions)
* rpm_tests/
* iso_tests/
* puppet_tests/
* docker_tests/

[2015-10-14 18:07] Ichimonji10 commented on #14
I've not done that. It's definitely worth looking in to. Thanks for the reminder.

[2015-10-15 11:19] lpramuk commented on #3
@Ichimonji10 I'm used to run it like this:
[code]
May verbosity help you?

[2015-10-15 15:39] Ichimonji10 commented on #11
@peterlacko That makes sense to me. Your approach would probably work better than what I've suggested, for two reasons:

* A user may not have a full battery of test systems available. Tests that make use of only certain systems (e.g. just a pulp system, or just a pulp system and a node) will probably be group together into a feature group.
* Your proposed layout mirrors what's currently in place

[2015-10-15 16:06] peterlacko commented on #11
I would say it makes sense, however we still need to be able to easily distinguish between api and cli tests, would be this structure too deep?

    pulp_smash
    ├── config
    │   └── …
    └── tests
        ├── general_tests
        │   ├─ api_v1
        │   │  └  some_test
        │   ├─ api_v2
        │   │  ├── test_content_applicability
        │   │  └── test_login
        │   └─ cli_test

[2015-10-15 17:41] #4 closed

[2015-10-15 18:15] Ichimonji10 commented on #12
@elyezer I think that's a great suggestion. I'll try to get this done ASAP. Usage of the config object will only grow.

[2015-10-15 19:06] Ichimonji10 opened #16 "Make ServerConfig inherit directly from object"
The ServerConfig class is a kludge. It inherits directly from dict, which invites users to place anything they want into the object. But only certain pieces of data should be put in the object:

* A `base_url` attribute.
* Attributes usable by Requests, such as `verify` and `auth`.

And even with #12 addressed, the `_xdg_config_file` and `_xdg_config_dir` attributes are just still too hard to work

[2015-10-15 19:07] Ichimonji10 commented on #16
Depends on #12.

[2015-10-15 19:59] Ichimonji10 commented on #11
@peterlacko Do any tests overlap in their functionality? I can imagine a test which touches on both RPMs and Puppet, for example.

[2015-10-16 13:14] peterlacko commented on #11
Can you provide an example of such a test? I think most of tests will be under v2 api, so having them all under one directory could be mess when there will be hundreds of tests. What about putting tests with overlapping functionality into another, separate directory? I don't consider it as a best solution, just don't see better now.

[2015-10-16 13:37] peterlacko opened #17 "Printing all requests in extended verbosity mode"
When test fails, sometimes it can be useful to make requests to server manually. What about printing all requests that test makes to pulp server(s) (also in setup and teardown methods), in extended verbosity mode, possibly also formatted in way to easily make copy-paste for curl (or some similar tool)?

[2015-10-16 18:56] Ichimonji10 commented on #17
Makes sense. We could do some logging set-up in `pulp_smash.tests.__init__`.

[2015-10-16 21:15] #12 closed

[2015-10-16 21:15] #16 closed

[2015-10-19 13:34] Ichimonji10 commented on #11
@peterlacko No, I can't provide an example of such a test. I'm just thinking ahead and theorizing that tests will be written that target multiple features. Let's say a Pulp user discovers some weird bug that's caused by an interaction between two of Pulp's plug-ins. The test for that weird bug will end up in a functional tests suite - this application.

[2015-10-19 13:42] Ichimonji10 commented on #11
@peterlacko I think the test structure outlined [here](https://github.com/PulpQE/pulp-smash/issues/11#issuecomment-148437813) is our best option right now. Yes, it's a little deep. But it's not outrageous, it lets us easily distinguish between CLI and API tests, and it retains the advantages mentioned [here](https://github.com/PulpQE/pulp-smash/issues/11#issuecomment-148427023):

Let's go for it.

[2015-10-19 13:45] Ichimonji10 commented on #11
That seems like the best solution if the only tool in hand is test structure. When that situation arises, we can also investiate an option such as nose2's attributes.

[2015-10-19 14:15] Ichimonji10 commented on #3
@lpramuk That does let me see which tests have been run. It produces output like this:

    test_body (test_content_applicability.FailureTestCase)
    Assert that the responses are JSON and appear to be call reports. ... ok
    test_status_code (test_content_applicability.FailureTestCase)
    Assert that each response has an HTTP 400 status code. ... ok
    …

But I'm trying to do something a litt

[2015-10-19 20:01] #11 closed

[2015-10-19 20:06] Ichimonji10 opened #18 "Autogenerate API documentation stubs"
The `docs/api` directory contains files such as `pulp_smash.config.rst` and `pulp_smash.tests.platform.api_v2.test_login.rst`. There's one `.rst` file for each documented Python module. This is a burden to maintain and error-prone, especially when you consider that each page of the API documentation has an identical layout. Let's use something like Sphinx's `sphinx-autogen` script to generate thes

[2015-10-20 12:22] Ichimonji10 commented on #13
One solution is to respect environment variables. For example:

[code]

[2015-10-20 14:49] peterlacko commented on #13
@Ichimonji10 What about joining it all together, ie. looking for config file in following order:
1. check if `--config` was set, as in [your first comment](https://github.com/PulpQE/pulp-smash/issues/13#issue-111223811), if not
2. check env for `PULP_SMASH_CONFIG`, like you [proposed above](https://github.com/PulpQE/pulp-smash/issues/13#issuecomment-149548533), if also not set
3. look for default

[2015-10-20 16:34] Ichimonji10 commented on #13
@peterlacko That would work. But all of the solutions proposed so far (including my own propositions!) have bothered me. What I'm aiming for is an orthogonal solution. As things stand now, you can place configuration files in a system-wide location (`/etc/xdg`), a per-user location (`~/.config`) and in a custom location, and these three options serve three different use cases. In addition, users c

[2015-10-20 16:35] #13 closed

[2015-10-21 12:34] lpramuk commented on #3
I see then you mean something like this:
[code]

[2015-10-21 12:55] Ichimonji10 commented on #3
@lpramuk Yes, I'm trying to do something a bit like that.

I've discovered one existing solution that partially implements what I'm looking for: nose2's "collect" plugin. See: [documentation](http://nose2.readthedocs.org/en/latest/plugins/collect.html) and [source code](https://github.com/nose-devs/nose2/blob/master/nose2/plugins/collect.py). Sample usage:

[code]

It works, but:

* The output is

[2015-10-21 21:31] Ichimonji10 opened #19 "Expand GET/POST search tests"
Pulp supports searching via both GET and POST requests. When searching with a GET request, parameters should be passed in via the URL, and when searching with a POST request, parameters should be passed in the body of the request. (This is appropriate behaviour, by the way. Network intermediaries are at liberty to discard the body of any GET request.) Unfortunately, this makes Pulp's search facili

[2015-10-21 21:32] Ichimonji10 commented on #19
I'd suggest adding tests in `pulp_smash.tests.platform.api_v2.test_search`.

[2015-10-21 21:37] Ichimonji10 commented on #15
I've just finished porting over a third set of tests: [`pulp_smash.tests.platform.api_v2.test_user`](https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/platform/api_v2/test_user.py). This test module is significantly more complex than the two test modules previously ported over. If you're thinking of porting over some tests yourself, or if you're thinking of writing some new tests,

[2015-10-22 14:40] asmacdo commented on #19
While working in this area, I created this list of queries, (including the GET and POST equivalents) which should serve as a good base for these tests.

https://public.etherpad-mozilla.org/p/Pulp_Search_API_testing

[2015-10-22 14:44] omaciel commented on #19
This is awesome @asmacdo , thank you! Will this etherpad be around for a while? Should we move that content here as a comment?

[2015-10-22 14:58] asmacdo commented on #19
@omaciel sure, that might be simpler.

[2015-10-22 15:03] asmacdo commented on #19
### Basic "it works":

GET:
`http --json -a admin:admin --verify=no GET 'https://localhost/pulp/api/v2/repositories/search/?filters={}`
POST:
`http --json -a admin:admin --verify=no POST 'https://localhost/pulp/api/v2/repositories/search/' criteria:='{"filters": {}}'`

###  Basic search by id:

GET:
`http --json -a admin:admin --verify=no GET 'https://localhost/pulp/api/v2/repositories/search/?fil

[2015-10-22 20:39] preethit commented on #15
For the repo tests can we make the feed configurable? There are have been many cases where  repo sync from one passes while another fails.

[2015-10-26 14:21] Ichimonji10 commented on #15
@preethit If there's something that's a known trigger for a bug, then we should definitely make sure Pulp Smash can test it. Can you explain what you mean by a "feed"? Do you mean that you'd like to make the content source for a repository configurable?

[2015-10-26 15:35] preethit commented on #15
yes.  content source for the repo is what I meant.

[2015-10-27 15:06] Ichimonji10 opened #22 "Expand linters"
Add some linters that check for nit-picky issues like incorrectly written docstrings and double quotes. The less time we spend on nit-picky issues like that, the more time we can spend on more meaty issues like class design.

[2015-10-27 15:12] Ichimonji10 commented on #22
Fixed by 7b20feeb6a3ced65dce374dea8232974d9403a66 and 9f8edc0ae274cb61e3f772f0eace0eb3d39b40e6.

[2015-10-27 15:12] #22 closed

[2015-10-27 16:35] sthirugn commented on #5
Although this gives a clean slate for every test, IMO cleaning up the environment after each test will not more closely resemble a customer environment as it may have ton of data.

[2015-10-28 11:42] sthirugn commented on #5
May be mix and match is an option - some tests can run clean slate (at the start of the job) and others can run without it.

[2015-10-28 15:39] Ichimonji10 commented on #19
@asmacdo No repository tests are in place yet and I want to get search-related tests ASAP, so I propose writing up some tests for users. What do you think of the following proposal? Do I have the POST search syntax right?

[code]

[2015-10-28 15:50] asmacdo commented on #19
@Ichimonji10, this looks good, I did notice a couple things. `details` is the only field that should not be a part of the criteria, there are a couple of examples that have `fields` outside of criteria. Additionally, the `field` field is only available on GET searches, `fields` is correct for POST.

Another thing you should be aware of is that `fields` does not work quite as expected at the moment

[2015-10-28 16:33] Ichimonji10 commented on #19
@asmacdo It the updated proposal correct?

[2015-10-28 17:23] asmacdo commented on #19
`s/{'criteria': {'field': 'id'}}/{'criteria': {'fields': 'id'}}/`

[2015-10-28 17:23] asmacdo commented on #19
@Ichimonji10 other than that, it looks good to me

[2015-10-28 19:10] Ichimonji10 commented on #19
See: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:test-search

[2015-10-28 19:18] asmacdo commented on #19
For `FieldsTestCase` the GET search can pass multiple values to `field` and that should be equivalent to the POST `fields`.

Example:
`.../users/search/?field=login&field=roles`

[2015-10-28 19:19] Ichimonji10 commented on #19
@asmacdo Ahhh, gotcha. Thank you.

[2015-10-29 13:25] elyezer commented on #13
Completely agree on the last @Ichimonji10's comment.

[2015-10-29 13:33] elyezer commented on #17
Test runners like nose offers a way to capture logging, in Robottelo we select just robottelo and nailgun logs to be captured. I think this can may be done by using nose with an entry on the Makefile. It is not flexible like being able to use unittest, nose, nose2 or py.test but could be a make target to be used by the jenkins jobs to make easy to debug what happened.

[2015-10-29 13:34] elyezer commented on #18
:+1:

[2015-10-29 13:37] elyezer commented on #3
That is what I tried to say before, may worth picking a test runner and leverage its feature. Both nose and py.test are able to capture the tests.

Another approach would be something like we use for testimony, we are able, thru the ast module, get all test methods. We can then create a module on pulp-smash with inspect the modules and provide the tests information, this way we can even respect th

[2015-10-29 14:13] Ichimonji10 opened #23 "Use random data generation library"
Let's use a proper library for generating random data. The intent is two-fold. First, I'd like to get rid of functions like this (from `pulp_smash.tests.platform.api_v2.test_user`):

[code]

Second, having a good random data generation library lowers the friction for writing new tests. It's one less worry for a developer.

[2015-10-29 14:18] Ichimonji10 commented on #23
One option is fauxfactory. We use it extensively in Robottelo and NailGun.

A second option is Faker. I discovered it while maintaining some Python packages for Arch. It's popular (346 forks!), has a significant collection of data providers (`gen_bs()`), has a nice plug-in architecture and has a low start-up time.

[2015-10-29 14:18] Ichimonji10 opened #24 "Fiddle with multi-line docstrings"
From https://github.com/PulpQE/pulp-smash/pull/20#discussion_r43385240:

This makes sense. Let's implement this new format throughout the application. Making this change has value because it'll make the code base more palatable to other developers who are familiar with PEP8 (and PEP257).

[2015-10-29 16:51] peterlacko opened #25 "Writing core functionality tests according to CLI commands"
By running `pulp-admin --map` we got full listing of available commands. What about creating tests via REST API based on available commands in some prioritized order? Ie. first test functionality of commands in `pulp-admin auth`, then `pulp-admin repo` and so on. It would allow us to create core functionality tests (without necessity of CLI testing) and then we could expand them to test other pulp

[2015-11-05 18:53] Ichimonji10 commented on #5
As per this morning's meeting, we're going to aim for the following approach:

* We will perform a clean-up before each test case or test module executes. This allows each test to execute with a greater level of isolation.
* The clean-up should be performed at the database level. This approach will leave files lying around on disk, but developers (e.g. @bmbouter) already use this approach, and it

[2015-11-06 15:48] Ichimonji10 opened #29 "Add mechanism to select tests based on Pulp version"
Some tests are only applicable to a particular Python version. Let's add some mechanism that allows users to run only tests which apply to a particular Pulp version or a range of Pulp versions. What should this look like?

One option is to use the `skipIf` decorator/function provided by unittest. It lets you write code like [this](https://docs.python.org/3/library/unittest.html#skipping-tests-and-

[2015-11-06 15:49] Ichimonji10 opened #30 "Add mechanism to skip known failing tests"
Let's add some mechanism that allows us to skip tests that are known to fail on certain versions of Pulp. The design considerations listed in #29 are relevant to this issue too.

[2015-11-06 15:57] Ichimonji10 opened #31 "Add ability to fiddle with services Pulp depends on"
Let's add some mechanism(s) that let us fiddle with the services that Pulp depends on. Pulp is designed to be resilient against failure of certain services, and it would be nice if we could start or stop services at run-time to test that resilience.

At its simplest, the mechanism would look like this:

[code]

One design consideration is what to do if the service you'd like to test might go by mu

[2015-11-06 15:59] Ichimonji10 opened #32 "Add ability to inspect remote system's state"
It'd be nice if we could inspect the state of remote systems under test. For example, it may be useful to log in to a remote system and determine whether certain files are lying around in certain places in the file system.

@bmbouter and others may be able to provide more info about this issue.

[2015-11-06 18:18] preethit opened #33 "Rpm Plugin Repo CRUD"
- [x] Create a repo
- [x] Associate importer to the repo
- [x] List the repo
- [x] Update the repo
- [x] Delete the repo

http://pulp-dev-guide.readthedocs.org/en/pulp-2.2/integration/rest-api/
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_02_repo_cud.py

[2015-11-06 18:54] Ichimonji10 commented on #33
I'm working with @dkliban on this right now. See: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:zoo_repo_sync

[2015-11-06 19:00] preethit commented on #33
I know you are but wanted to make sure this is the kind of issues you had in mind. Let me know if you want me add any other details when writing up issues.

[2015-11-06 22:07] Ichimonji10 commented on #33
Aye, I definitely agree with that. So far, I've hard-coded that repository reference in my test module, simply because it's expedient. But I really don't like having that configuration information hard-coded! I need to brainstorm a little bit and figure out how to extract that configuration information from the test itself. The first idea that comes to mind is to add a new section to the configura

[2015-11-09 13:34] peterlacko commented on #33
I also made some draft on importer and distributor tests so you can look at it here:
https://github.com/peterlacko/pulp-smash/blob/rpm-repo-tests/pulp_smash/tests/platform/api_v2/test_rpm_repo.py

[2015-11-09 14:48] peterlacko commented on #29
We could use both, skipTest() for runtime selection based on pulp version (ando/or some other condition?) and nose's attribute for everything else, ie. running core test, slow tests etc (including pulp version). This would give us more flexibility with selection of tests to run for the price of running them with nose. If for some reason we would like to run ie. 2.6 test on pulp 2.7, we could modif

[2015-11-09 15:00] Ichimonji10 commented on #29
I think this can be done with a version selector. Let's say you have a Pulp 2.7 system and you'd like to run the 2.6 tests against it. You could accomplish that by setting the (currently imaginary) "version" attribute in the configuration file to "2.6":

[code]

When you run tests, Pulp Smash run the 2.6 tests against pulp.example.com - it doesn't care that the system is running 2.7 or whatever.

[2015-11-09 15:38] Ichimonji10 opened #34 "Support Pulp 2.7+ in user-related test"
Method `test_use_deleted_user` in class `pulp_smash.tests.platform.api_v2.test_user.ReadUpdateDeleteTestCase` isn't compatible with Pulp 2.7 and beyond. As of Pulp 2.7, calls to endpoints that require JSON but do not have a request body fail with a 400. This test fails because the PUT request requires a request body.

This should be addressed after #29.

(Thanks @asmacdo!)

[2015-11-09 16:00] jeremycline opened #35 "Update ``make test-coverage`` make target"
``pulp_smash.utils.rand_str`` was added by https://github.com/PulpQE/pulp-smash/pull/28, but tests do not exist for the function. Furthermore, the missing coverage is not detected by the current ``make test-coverage``.

[2015-11-09 16:01] Ichimonji10 commented on #35
:+1:

[2015-11-09 18:27] elyezer commented on #24
:+1:

[2015-11-09 18:45] elyezer commented on #23
Faker seems very interesting.

[2015-11-09 21:25] Ichimonji10 commented on #30
When this issue is resolved, we'll need to update several test cases. You can get a sense for which ones by grepping:

[code]

[2015-11-09 21:29] #19 closed

[2015-11-09 21:41] preethit opened #36 "Upgrade Testing for pulp"
* [x] Provision a box
* [x] Install pulp and plugins that you are upgrading from
* [x] populate pulp with all kinds of data
* [x] Update pulp
* [x] Migrate DB
* [x] Check all the service (Restart)
* [x]  Run regression tests
* [x]  Run Data Integrity test on data migrated over.

[2015-11-09 22:21] Ichimonji10 opened #37 "Refactor user and repository CRUD tests"
The tests in modules [`tests.platform.api_v2.test_user`](https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/platform/api_v2/test_user.py) and `tests.platform.api_v2.test_repository` could use some refactoring. They were my first pass at writing tests in Pulp Smash, and while reasonably good, there's a few things that really bug me about their structure. There's repetitive `setUpClas

[2015-11-09 22:21] Ichimonji10 commented on #37
@asmacdo

[2015-11-10 14:40] elyezer commented on #19
:+1:

[2015-11-10 14:44] Ichimonji10 commented on #25
Can you provide an example of what `pulp-admin --map` outputs?

[2015-11-12 14:09] Ichimonji10 commented on #30
Adding a `bug_is_open` function would provide a partial solution to this problem:

[code]

Of course, each bug will eventually be fixed and marked as "closed". As a result, this solution won't work too well if Pulp Smash is run against an older version of Pulp. The test will run due to the bug report being closed, but the older version of Pulp will still suffer from the issue and fail the bug.

Ho

[2015-11-12 19:25] bmbouter commented on #5
I am planning to make a class that inherits from `TestCase` and will perform the database destroying in the setUpClass method. Other test classes can inherit from this class to receive this behavior. @Ichimonji10 Does this sound right?

[2015-11-12 20:23] Ichimonji10 commented on #5
Yes, this sounds about right. I do have a couple thoughts, though.

First, it may be advantageous to write this code as a set of functions, then call them from whatever class inherits from `TestCase`. The point of isolating the code like this is to make it more easily unit tested and re-used. Here's a rough sketch:

[code]

There's quite a few nit-picks that need to be ironed out. Is the "ssh" sec

[2015-11-12 21:02] Ichimonji10 commented on #5
IIRC, there can be only one Pulp database, right? If that's the case, then maybe something like this would be more appropriate:

[code]

And the `database` section does not need to be specified in the configuration file. In the application itself, `hostname` can be inferred from `base_url` if omitted, and `username` can be taken from the environment if omitted.

[2015-11-16 14:23] peterlacko commented on #36
To extend this issue, I suggest data integrity testing to be included in pulp smash in separate folder, so it will not run together with other tests, ie `pulp_smash/upgrade_tests/` and would consists shell/python scripts for populating pulp server with data that would be executed before upgrading pulp and data integrity tests that would run after upgrade.

[2015-11-16 14:30] peterlacko commented on #25
Sorry for late response, here is it:
[code]

[2015-11-16 17:10] elyezer commented on #5
I like the `ResetDatabaseTestCase`, it makes clear what we should expect for a particular TestCase.

[2015-11-17 14:38] Ichimonji10 opened #40 "Move utility functions to common module"
Move some common utility functions out of individual test modules and into `pulp_smash.utils`. In particular, I'm thinking of methods like `_poll_tasks()` and `_add_yum_distributor()` from module `pulp_smash.tests.rpm.api_v2.test_sync_publish`. See the discussion on #35 for more specifics.

This done, review the existing tests and see if any of the test modules can drop their own private utilities

[2015-11-17 14:48] Ichimonji10 commented on #35
I'd also like to rename the `pulp_smash.utils.rand_str` function to `uuid4`. The latter name more accurately reflects what the function does: it calls the `uuid4` function from the standard library and casts it to a unicode string.

[2015-11-17 15:26] #35 closed

[2015-11-17 16:24] Ichimonji10 commented on #2
It turns out that `make test` and `./setup.py test` act quite differently. The former assumes that dependencies have been installed, whereas the latter installs dependencies into a `.eggs` directory. What's the use of this technique? This technique is useful because the following work-flow is supported:

[code]

Why would this ever be useful or necessary? It's useful in several contexts:

* A pack

[2015-11-17 16:48] Ichimonji10 commented on #33
The recently added [`pulp_smash.tests.rpm.api_v2.test_sync_publish`](https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/api_v2/test_sync_publish.py) module covers several of the areas listed [here](#issue-115559477). However:

* No tests directly update the repository. The closest we have are calls that associate a repo with a distributor, import an RPM into a repository, and so

[2015-11-17 16:49] #2 closed

[2015-11-17 16:51] dkliban commented on #33
The test does perform a query on the repository to see what units are in it.

[2015-11-17 16:52] Ichimonji10 commented on #37
Closing in favor of #40.

[2015-11-17 16:52] #37 closed

[2015-11-18 14:17] bmbouter commented on #32
For example with the [puppet install distributor](http://pulp-puppet.readthedocs.org/en/latest/tech-reference/plugin_conf.html#install-distributor), the only way to verify that it worked correctly is make assertions on the files it writes. It has to do with the files contents, permissions, and attributes. For example the parent folder must have the right SELinux permissions, and pulp shouldn't be

[2015-11-18 18:59] dkliban commented on #32
Paramiko[0] is a python library that will allow us to SSH to the remote machines running Pulp.

1. pulp-smash will determine the hostname of the remote machine by parsing the "base_url" attribute of the pulp-smash config.

2. paramiko will read the ~/.ssh/ssh_config and determine the proper key to use for connecting to the hostname derived in step 1.

3. Utility methods that inspect the state of t

[2015-11-18 19:03] Ichimonji10 commented on #32
FYI, it's possible to fetch a username from the ssh configuration file too. Here's a snippet from my `~/.ssh/config`:

[code]

Question: does this design respect other SSH set-ups, such as ssh-agent?

[2015-11-18 19:08] Ichimonji10 commented on #32
The discussion in #5 is closely related. The solution suggested above would let us completely avoid expanding the Pulp Smash configuration file, or at most add an optional `"database": "pulp-db.example.com"` section.

[2015-11-18 19:17] bmbouter commented on #32
The more I think about it, the more I like using `~/.ssh/config` to store all of the ssh related configs and trying to connect by the server name used in the base_url attribute. You can make it connect to a machine by IP from that name, specify another username, or any other aspect of ssh config. So great! Let's do that and limit our modification of the pulp smash config file to at most the `"data

[2015-11-19 16:54] jeremycline commented on #32
Not to stir the pot unnecessarily, but has Fabric[0] been considered? It is built on top of paramiko.

[0] http://www.fabfile.org/

[2015-11-19 17:00] dkliban commented on #32
@jeremycline We did consider it. However, it is not python 3 compatible. We also determined that paramiko is just as easy to use.

[2015-11-19 17:02] jeremycline commented on #32
@dkliban Alrighty then, carry on!

[2015-11-19 17:10] Ichimonji10 commented on #32
[Python 3 Wall of Superpowers](http://python3wos.appspot.com/)

[2015-11-19 17:20] Ichimonji10 commented on #32
My experience with Fabric is that it assumes too much knowledge, and there's therefore a real learning curve. For example, here's a bit of Fabric code:

[code]

Notice that there's absolutely no mention of which system this command is being run on. I would expect the code to look more like this:

[code]

The sample code above raises questions like:

* How well does this code deal with threading?
*

[2015-11-19 22:16] bmbouter commented on #32
@Ichimonji10 You're snippet looks great. I've never needed to know the current user, but we could do it with [`getpass.getuser()`](https://docs.python.org/2/library/getpass.html#getpass.getuser).

I ran into the same `ecdsa-sha2-nistp256` key issue when I ran it. Is there an easy way we could have better key support with Paramiko?

[2015-11-19 22:21] bmbouter commented on #32
One other thing is that a lot of users want to run this against localhost. It would be great if the base_url is localhost that it didn't even connect remotely. Does paramiko allow you to do things on a local system or a remote system in an abstracted way?

[2015-11-19 22:26] Ichimonji10 commented on #32
Thanks for the reference to `getpass.getuser`. I've never read the documentation on that module before. New material. However, there's no need to even call `getpass.getuser`. Paramiko does that when [`SSHClient.connect`](http://docs.paramiko.org/en/1.13/api/client.html#paramiko.client.SSHClient.connect) is called.

Assign someone to working on Paramiko? I think the fundamental issue here is that P

[2015-11-19 22:29] Ichimonji10 commented on #32
I don't know. That said, this sort of thing seems like a client-specific issue (i.e. our issue), not an issue for paramiko. Paramiko is an SSH handling library, and if I tell it to connect to localhost, I would expect it to connect to localhost. I would find any other behaviour surprising.

[2015-11-19 22:34] bmbouter commented on #32
I was thinking the user needed to form the full path to read the config file, but we can just use `~/.ssh/config`.

Yeah let's not pickup the fixing of paramiko/paramiko#387 Do we know which key styles do work?

Regardless of Paramiko supporting it, I'm suggesting that this would be a great feature to have. Many people will run this with localhost.

[2015-11-19 22:47] Ichimonji10 commented on #32
Aye. I agree 100%.

I don't know which key types paramiko supports well. From the time I spent reading through issues on the paramiko repository, it seems RSA keys are well supported. Also, the sample script given above creates a `paramiko.log` file. Here's some sample output:

I think the exact set of keys allowed by the client are listed there.

Paramiko will reject the abbreviated form, but the

[2015-11-24 17:10] cswiii opened #43 "Pulp-smash needs a logo"
Preferably one in a bright orange font (#ffaa00) or something.

[2015-11-24 17:13] Ichimonji10 commented on #43
[BlueCake](http://www.urbanfonts.com/fonts/BlueCake.htm) is available with some minor restrictions outlined in its readme. It's a downloadable 60 kb TTF file, and can therefore be included in the HTML documentation as a webfont.

[2015-11-25 21:47] Ichimonji10 commented on #36
Good idea, @peterlacko.

[2015-12-01 18:12] Ichimonji10 opened #46 "linters are failing"
flake8-docstrings 0.2.4 and pylint 1.5.0 both fail when run over the Pulp Smash code base. These failures appear to be regressions. flake8-docstrings is incorrectly enabling D203 (see [here](https://gitlab.com/pycqa/flake8-docstrings/issues/8)) and pylint is throwing a traceback for some reason. We should deal with these issues so our continuous integration suite can give appropriate feedback.

[2015-12-01 19:07] #46 closed

[2015-12-01 19:42] Ichimonji10 commented on #25
This is a great way to generate new test cases. I've included it in the development roadmap, available internally.

[2015-12-01 19:42] #25 closed

[2015-12-01 23:02] Ichimonji10 commented on #32
Quick update:

We chatted about this and realized that, although it's possible to use a transport mechanism directly (such as Paramiko's API or command-line SSH via the subprocess module), we really want to use something a little higher level. Ansible seems like a reasonable solution, given that it's a Python package with a proper API and it's purpose for existence is dead-simple system management

[2015-12-03 18:06] Ichimonji10 commented on #33
Not actively working on this right now, so unassigning myself.

[2015-12-03 18:07] Ichimonji10 commented on #29
@bmbouter @elyezer This is the issue that regards skipping tests.

[2015-12-03 23:40] Ichimonji10 commented on #29
I've started laying the groundwork for this. I've made several refactors to how the `pulp_smash.config` module and its associated tests work so work will be easier, and I've started popping changes in https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:version

[2015-12-04 12:58] elyezer commented on #29
I'm wondering if there is a way to grab the Pulp Server version dynamically.

[2015-12-04 14:25] Ichimonji10 commented on #29
That'd be a very nice convenience, for sure. Even if we can fetch the version number at run-time, I think it'd be useful to be able to specify the version number directly in the configuration file. As the system under test, Pulp is not to be trusted - even the version number it returns may be incorrect.

[2015-12-04 16:01] Ichimonji10 commented on #29
The current set of commits on https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:version adds the ability to declare the Pulp version in the config file and to handle that version attribute via the `pulp_smash.config.ServerConfig` object. Now to whip up some functions for communicating with the bug tracker.

[2015-12-05 22:38] #29 closed

[2015-12-05 22:40] Ichimonji10 commented on #30
From the comment thread on #29:

[code]

[2015-12-07 12:36] elyezer commented on #29
That'd be a very nice convenience, for sure. Even if we can fetch the version number at run-time, I think it'd be useful to be able to specify the version number directly in the configuration file. As the system under test, Pulp is not to be trusted - even the version number it returns may be incorrect.

@Ichimonji10 completely agree.

[2015-12-07 16:36] Ichimonji10 commented on #32
Ansible looks like a great tool to help us address both this issue and #31. I've walked through the [Python API](http://docs.ansible.com/ansible/developing_api.html) page on their documentation, among others. While this the documentaiton provides just enough information to get started, it's extremely shallow.

In a bid to become more familiar with Ansible's API, I cloned the Ansible source reposit

[2015-12-07 17:28] bmbouter commented on #32
@Ichimonji10 I'm ok with going with Ansible 2 given that it's at the rc stage already. You're proposal of including it using `setup.py` and `requirements.txt` changes sounds good to me.

What do others think?

[2015-12-07 19:13] Ichimonji10 commented on #32
Here's two third-party resources on the changes in Ansible v2:

* [What's New in v2](http://www.slideshare.net/jimi-c/whats-new-in-v2-ansiblefest-london-2015)
* [Use the source, Luke - what's coming up in Ansible v2](http://blog.idego.pl/2015/03/10/ansible-v2/)

[2015-12-07 19:43] Ichimonji10 commented on #32
Aaaand rc2 just came out.

[2015-12-07 19:47] dkliban commented on #32
Yeah, I think that targeting ansible 2 is completely appropriate.

[2015-12-07 20:13] Ichimonji10 commented on #32
The RC7 documentation isn't posted to `docs.ansible.com` at this point, and
they're a bit of a pain to generate (I should probably submit a PR, hunh), so
I'm pasting the full v2 API example from the RC7 documentation here:

[2015-12-07 21:48] Ichimonji10 commented on #32
If you want to build the documentation yourself, see https://github.com/ansible/ansible/issues/13463.

[2015-12-08 16:25] Ichimonji10 commented on #40
Unassigning self from this issue for now, as I'm focused more on adding Ansible support. Ansible support is high-priority, as it'll unlock an entire category of new tests, and it should solve #32 and #31.

Moving helper functions from the various individual test modules to the `pulp_smash.utils` is a positive step forward, but I'd like to do a bit better than that. Right now, the various helper fu

[2015-12-08 22:04] Ichimonji10 commented on #32
The sample code given above is helpful, but I found it to be slightly complicated. I had particular trouble understanding the `Options` namedtuple (Why should I need to provide this magic structure when it's not needed at the CLI? Is there a declaration in the code itself?) and why some options are present, such as the `stdout_callback`, `passwords` and duplicate `'localhost'` refeferences. Here's

[2015-12-09 18:10] bmbouter commented on #32
@Ichimonji10 the example above looks good. To me, it demonstrates that ansible is a viable tool for interaction w/ local and remote systems. Are there any other blockers or information we need to have before building out a solution to this issue?

How does this decision impact the dependencies of pulp smash? Will a change be required in that area?

[2015-12-09 18:25] Ichimonji10 commented on #32
@bmbouter Yes, Pulp Smash's dependencies will change. I think [this](#issuecomment-162583032) comment covers it pretty well:

I think we can continue with this solution. I'm not excited about Ansible's Python API. It's a little bit hideous, really. But we're obliged to make a good solution to end users, and I think we can deal with it.

[2015-12-09 18:31] Ichimonji10 commented on #32
Yes, exactly. It demonstrates that I can communicate with my local system without SSH, and that I can communicate with a remote system over SSH with an ECDSA key.

[2015-12-09 18:39] bmbouter commented on #32
@Ichimonji10 great! I've got some reconnect tests that I want to write, so I'm anxious to use it. I'm blocked until its resolved.  Thanks for working on this!

[2015-12-09 18:50] Ichimonji10 commented on #32
Thanks for your patience.

[2015-12-10 19:27] #34 closed

[2015-12-10 21:06] #30 closed

[2015-12-11 18:44] Ichimonji10 opened #50 "Report and skip tests that fail due to bad exception handling"
According to the [Exception Handling](https://pulp.readthedocs.org/en/latest/dev-guide/conventions/exceptions.html) section in Pulp's documentation:

Unfortunately, this isn't actually the case. One discrepancy is that an `_href` key is returned instead of an `href` key, as described in [Pulp Issue #1310](https://pulp.plan.io/issues/1310). This means that the updated list of promised keys is as fo

[2015-12-11 18:46] Ichimonji10 commented on #50
This done, we'll have 100% green test runs for Pulp 2.6 and 2.7. The master version of Pulp will still fail the test runs due to a different issue.

[2015-12-11 19:39] Ichimonji10 commented on #32
By default, Ansible contacts all hosts listed in the given inventory file. However, the script given can be modified so that Ansible only contacts explicitly named hosts. All you need to do is change how the `Play` object is instantiated. For example:

[code]

This is great, because it means we can programmatically select which hosts to contact via hostname. Which hostnames do we want to select fr

[2015-12-11 20:37] bmbouter commented on #32
This looks great!  Does ansible handle abstracting the OS (ie: upstart vs systemd) or do we have to figure out a solution that? Also are we putting these operations in a playbook or writing them in code?

[2015-12-14 16:36] bmbouter opened #51 "Failure count and does not match count of 'F' characters in test runner output"
I am running pulp smash at commit d1dbb1c33601199fd9ab61e1a23c3b35e8132cab

When I run pulp-smash against Pulp master I see the following output:

[code]

I expected the output from the test runner to show seven 'F' characters, but instead only 1 is shown.

[2015-12-14 16:41] Ichimonji10 commented on #51
Each `.`, `s`, `F` and so on corresponds to one test method. Each test method can have multiple skips, errors, failures and so on due to sub-tests. This is an issue with various test runner GUIs, if anything. See: https://docs.python.org/3/library/unittest.html#distinguishing-test-iterations-using-subtests

[2015-12-14 16:41] #51 closed

[2015-12-14 18:24] Ichimonji10 commented on #32
The level of abstraction available depends on the module used. The `service` module abtracts away init systems. From `ansible-doc service`:

I don't know whether we'll put operations in playbooks or write them in code.

(As a reminder, when you execute `ansible all --module-name ping`, the module is "ping". Modules can be written in any language, but the ones shipped with Ansible itself are all wr

[2015-12-14 19:49] Ichimonji10 commented on #32
Unfortunately, the core `service` module does not provide the ability to inspect the state of a service. Instead, it lets you declare the state a service should be in. See: http://docs.ansible.com/ansible/service_module.html

[2015-12-14 22:16] rbarlow commented on #43
[code]

[2015-12-14 23:41] Ichimonji10 commented on #43
:+1:

[2015-12-15 12:52] Ichimonji10 commented on #50
See #52

[2015-12-15 14:33] #50 closed

[2015-12-15 22:46] Ichimonji10 commented on #32
I have a branch in which I list Ansible 2.0.0-0.7.rc2 as a dependency and use Ansible's Python API to implement an `execute_command` function. See: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:ansible Everything works, as is noted by the commit message in that branch:

That said, I'm going to walk back from using Ansible for now, and see if simply using system shells and SSH v

[2015-12-16 16:19] Ichimonji10 commented on #32
From docs.python.org:

I've played with it a little bit, and `subprocess.run` is *really* cool. It makes spawning subprocesses a wonderful and easy thing. Interestingly, it looks like subprocess.run has also been around for a little while and is backported to Python 2.6, 2.7 and 3.3. See the subprocess.run [website](http://subprocessrun.xando.org/en/latest/) and [PyPi page](https://pypi.python.org

[2015-12-16 17:16] Ichimonji10 commented on #32
Ahh, I was mistaken. The `subprocess.run` PyPi package is entirely unrelated to the standard library's `subprocess.run` function.

[2015-12-16 22:04] bmbouter opened #55 "Broker Initial Connect and Reconnect Test Plan"
Pulp offers a collection of behaviors known as "reconnect support" for the Pulp Broker. Here are the expected behaviors:

* If you start a Pulp service that connects to the broker and the broker is not running or is not network accessible for some reason, the Pulp services will wait-and-retry. It has a backoff behavior, but the important part is that it doesn't exit if it can't connect due to avai

[2015-12-17 17:02] Ichimonji10 commented on #32
For my current set of experiements in tackling this issue, see https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:systems

[2015-12-17 18:52] peterlacko commented on #32
Some my thoughts on this issue:
* with ansible I generally agree, no python 3 support and even simple things (ie. getting command's `stdout`) are quite difficult to achieve through api + neccessity of requiring more config files (inventory, ansible.cfg)
* local vs. remote commands: we should take into account also multinode testing (is there even need for it, @bmbouter ?). If there will be multipl

[2015-12-17 21:39] Ichimonji10 commented on #32
Definitely, multi-node testing is something we'll want to support. I think we can support multi-node testing by doing two things:

* Define section names that Pulp Smash will look for in the config file.
* Define a new "connection" setting.

It would look like this:

[code]

How does this work? When Pulp Smash needs to execute commands on a system, it looks in the config file for a specially named

[2015-12-17 22:50] mhrivnak opened #58 "Do URL and path joining with urljoin"
Many places in the tests combine URLs and paths with simple string addition. This has the potential to produce incorrect results.

Pure addition of path parts is dangerous, because standard "urljoin" logic, which follows rules in various RFCs, behaves differently. For example:

[code]

Pulp should produce paths that behave correctly with urljoin, and we've had problems in the past with developers

[2015-12-18 13:04] Ichimonji10 commented on #58
By using `urljoin` to handle the hrefs returned by Pulp, we'll be testing that the hrefs are correctly formed. :+1:

[2015-12-18 14:51] Ichimonji10 commented on #58
[FYI](https://docs.python.org/dev/whatsnew/3.5.html#urllib):

[2015-12-18 19:17] preethit opened #61 "OSTree plugin automation"
Pulp OSTree Plugin needs to be automated.

Importer/distributor details

Importer: ostree_web_importer
Distributor : ostree_web_distributor

http://pulp-ostree.readthedocs.org/en/latest/tech-reference/importer.html

Probably can follow the same pattern as docker plugin tests
https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/docker/api_v2/test_crud.py

The feed and branches that can

[2015-12-20 20:47] dkliban opened #62 "Add ability to set threshold on task polling"
Currently some tests fail intermittently because Pulp is taking too long to perform a task. Test writer should be able to use a default threshold or define a custom one for duration of a particular task.

[2015-12-21 13:48] Ichimonji10 commented on #62
Which tests periodically fail, and on which lines of code? What are the other characteristics of the failures? (If a task goes indefinitely, then what causes a Pulp Smash to fail?)

[2015-12-21 16:04] Ichimonji10 commented on #62
The failures @dkliban describes are pretty catastrophic and universal. It's not as if two or five tests will intermittently fail in each test run. Instead, on some test runs, every polled task (or at least most polled tasks) will fail to complete. As a result, you'll see results like "37 failed tests". It's unclear whether we get catastrophic test failures because of errors somewhere (in Pulp, or

[2015-12-21 17:33] #58 closed

[2015-12-21 21:42] #24 closed

[2015-12-22 17:10] Ichimonji10 commented on #62
I've made the inelegant but pragmatic change of bumping the task poll period from 50+ seconds to 120+ seconds. It's unclear whether this has had any effect. Our RHEL 6 system produced normal test results, but our Fedora 23 system has produced another catastrphic time-out failure.

[2015-12-23 18:08] pcreech opened #63 "Database Initial Connect and Reconnect Test Plan"
Pulp offers a collection of behaviors known as "reconnect support" for the Pulp Database. Here are the expected behaviors:

If you start a Pulp service that connects to the database and the database is not running or is not network accessible for some reason, the Pulp services will wait-and-retry. It has a backoff behavior, but the important part is that it doesn't exit if it can't connect due to

[2016-01-11 15:47] Ichimonji10 opened #64 "Drop API helpers from `pulp_smash.utils`"
There is an odd collection of helper functions in module `pulp_smash.utils`, such as `get`, `delete`, `get_importers`, `get_distributors`, `handle_response` and so on. They talk to the Pulp API and nominally help by abstracting away details such as URLs and response checking. Unfortunately, they don't do a great job at this. Let's replace them with a new API client that's better suited to the job:

[2016-01-11 15:47] Ichimonji10 commented on #64
Add an API client

Add, document, and partially unit test a new module, `pulp_smash.api`. This
module includes an API client, `Client`, and several associated callback
functions that can be used by `Client` for handling server responses.

Why add this new API client? As an example, here is an example of how to use a
helper function from `pulp_smash.api.Client`:

[code]

This works, but it falls ap

[2016-01-13 20:40] Ichimonji10 commented on #32
See https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:cli

Sample usage:

[code]

[2016-01-13 20:40] Ichimonji10 commented on #32
I'll put together the unit tests tomorrow and, hopefully, merge it.

[2016-01-15 16:01] #32 closed

[2016-01-15 22:13] #64 closed

[2016-01-20 22:27] Ichimonji10 commented on #31
PR #67 solves this issue. Within that PR is a function, `pulp_smash.utils.get_broker`. It has the following signature:

def get_broker(server_config):
    """Build an object for managing the target system's AMQP broker."""
    return cli.Service(server_config, ...)  # either qpidd or rabbitmq

Another option for solving this problem is to create a subclass of `Service`, like so:

[code]

However,

[2016-01-20 22:27] Ichimonji10 commented on #40
This issue is outdated.

[2016-01-20 22:27] #40 closed

[2016-01-21 13:46] Ichimonji10 opened #68 "Centralize Custom Exceptions"
Pulp Smash defines a variety of custom exceptions. This is appropriate: if a standard exception does not fit a situation well, one should define a new exception and raise it instead of executing `raise Exception`. The problem is that those custom exceptions are scattered throughout the codebase. Let's do the following:

1. Define a new module, `pulp_smash.exceptions`.
2. Move all custom exceptions

[2016-01-21 13:46] Ichimonji10 commented on #68
@bmbouter FYI

[2016-01-21 13:51] bmbouter commented on #68
@Ichimonji10 :+1: :palm_tree:

[2016-01-21 17:02] elyezer commented on #68
:+1:

[2016-01-22 19:04] #31 closed

[2016-01-22 19:04] #55 closed

[2016-01-25 15:52] peterlacko commented on #61
First draft of tests is on [1].
Done:
* Create repo without feed
* Sync repo with invalid feed or invalid branch will fail
* Create repo with valid feed and branch, add another branch and sync
* Create and sync repo, copy its content to another repo, check their content match

TODO:
* Test updating a valid feed with an invalid branch
* Extend tests in repo branch update
* Verify published content

[2016-01-25 15:55] #68 closed

[2016-01-26 18:07] preethit opened #71 "Automate Lazy sync - immediate"
Documentation
https://github.com/pulp/pulp/blob/master/docs/dev-guide/design/deferred-download.rst

Option to use on with repo create

Download Policy
  --download-policy - content downloading policy (immediate | background |
                      on_demand)
Case 1
1. Create a repo with immediate download policy
pulp-admin rpm repo create --repo-id zoo --feed https://repos.fedorapeople.org/repos/p

[2016-01-26 19:46] omaciel commented on #71
@preethit can you flush out what the test cases should be? Provide examples of what the expected behavior should be when using each of the allowed policy types? What about using a value other than the ones allowed?

[2016-01-26 19:58] preethit commented on #71
I just started this  as I started playing with the feature. Will flush out as I get familiar and add more scenarios both positive & negative.

[2016-01-27 14:06] bmbouter commented on #71
Consider splitting these into multiple issues so they could be done in parallel, reviewed, and merged independently of each other. I'm OK also not splitting them.

[2016-01-27 16:12] omaciel commented on #71
@bmbouter :100:

[2016-01-27 16:22] preethit opened #72 "Automate Lazy sync - background"
Background policy skip downloading files during sync, but once the sync is completed it will dispatch a task to download the file
Case 2
1. Create a repo with background download policy
pulp-admin rpm repo create --repo-id zoo --feed https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo/  --download-policy background
2. Run repo Sync
 pulp-admin rpm repo sync run --repo-id zoo
3. Assert th

[2016-01-27 16:23] preethit opened #73 "Automate Lazy sync - on_demand"
API info
https://github.com/pulp/pulp/blob/master/docs/dev-guide/integration/rest-api/repo/sync.rst#download-a-repository

1. Create a repo with on_demand download policy
pulp-admin rpm repo create --repo-id zoo --feed https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo/  --download-policy on_demand
2. Run repo Sync
3. The repo is synced  (check /var/lib/pulp/content )
4. Register a cons

[2016-01-27 16:35] preethit commented on #73
This is from jcline-

class SyncOnDemandTestCase(SyncValidFeedTestCase):
    """Assert that Yum supports on-demand syncing."""

    @classmethod
    def setUpClass(cls):
        """Create an RPM repository with a valid feed and sync it."""
        super(SyncOnDemandTestCase, cls).setUpClass()
        cls.post_sync_repo = handle_response(requests.get(
                cls.cfg.base_url + cls.attrs_it

[2016-01-27 19:26] Ichimonji10 commented on #63
Unassigning myself for now, as I have some bugs related to the 2.8 release that need to be verified and have higher priority.

[2016-01-27 19:36] Ichimonji10 commented on #73
Here's a revision of the sample code above:

[code]

It could be advantageous to take the process of creating an RPM repository with a valid feed and syncing it and placing that process into a stand-alone function, perhaps in `pulp_smash.utils`.

[2016-01-29 19:54] preethit opened #75 "Repo and orphan delete can be executed cleanly after Lazy sync"
1. Create a repository with on_demand sync plan

    pulp-admin rpm repo create --repo-id foo --feed https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo/  --download-policy on_demand

   Assert
   1. Repo create successful
   2. It has Download Policy: on_demand
2. Synchronize the repository
    pulp-admin rpm repo sync run --repo-id foo

   Assert
   1. Sync succesful
   2. Repository h

[2016-01-29 20:16] omaciel commented on #75
@preethit I'd recommend a more verbose test case. For example:

1. Create a new repository (use random values for its name and a valid `feed` url) with a `on_demand` sync plan
    * Assert that the repository was created and has the correct values assigned during creation
1. Synchronize the new repository
    * Assert that the sync process is successful and that the repository contains data (packa

[2016-02-02 14:17] dkliban opened #78 "pulp-smash is not compatible with pytest"
I've noticed that our Jenkins is getting 10 failures due to a 404 from Pulp Puppet Forge API. However, I don't see the same failures on my development environment. I have determined that the difference is in the test runner that is being used. Here are the results I got:

`py.test pulp_smash/tests/puppet/`

`HTTPError: 404 Client Error: NOT FOUND for url: https://dev.example.com/api/v1/releases.js

[2016-02-02 14:23] Ichimonji10 commented on #78
The test runner is not at issue here. I can reproduce that 404 with unittest2. In my case, the difference lies in which version of Pulp is being tested. Pulp 2.7 does not suffer from that bug, but Pulp master does. See attached screenshot for demonstration. This is a bug in Pulp.

![Uploading Screenshot_2016-02-02_09-21-45.png…]()

[2016-02-02 14:23] #78 closed

[2016-02-02 15:21] dkliban commented on #78
I don't think that the difference is in the version being tested. I think that you are seeing the failure because you ran the test twice without resetting the database.

[2016-02-02 16:03] Ichimonji10 commented on #78
I ran these tests against separate systems that I already abused yesterday.

[2016-02-02 16:43] Ichimonji10 commented on #78
@dkliban, you mentioned that you only see this test failure when running Pulp
Smash multiple times. I can confirm, and I can reiterate that the likely culprit
is a bug in Pulp 2.8. Here's test results from a freshly provisioned Pulp 2.7
system, for which no other test have been run:

[code]

And here's test results from a freshly provisioned Pulp master (2.8) system, for
which no other tests have

[2016-02-02 21:29] dkliban commented on #78
When I run `py.test pulp_smash/tests/puppet/api_v2/test_sync_publish.py::PublishTestCase` the test always passes (if the database is cleaned up after each run). However, running `py.test pulp_smash/tests/puppet/api_v2/test_sync_publish.py` always causes failures.

Perhaps the first test in the `test_sync_publish.py` is not doing something right.

[2016-02-02 21:30] Ichimonji10 commented on #78
How can one clean the database?

[2016-02-02 21:33] dkliban commented on #78
`mongo pulp_database`
`> db.dropDatabase()`
`ctrl + d`
`sudo -u apache pulp-manage-db`

And I also like to clean up /var/lib/pulp

`sudo rm -rf /var/lib/pulp/published/*`
`sudo rm -rf /var/lib/pulp/content/*`

[2016-02-02 21:48] dkliban commented on #78
This sequence causes the failure:

`py.test pulp_smash/tests/puppet/api_v2/test_sync_publish.py::SyncValidFeedTestCase`
`py.test pulp_smash/tests/puppet/api_v2/test_sync_publish.py::PublishTestCase`

[2016-02-03 03:08] dkliban commented on #78
Sorry about all the headache. This is a bug with pulp.

[2016-02-03 06:34] Ichimonji10 commented on #78
Got it. Good, concise summary.

[2016-02-03 08:56] Ichimonji10 commented on #61
A first batch of tests has been merged. They were submitted for review as pull request #76 and merged as https://github.com/PulpQE/pulp-smash/commit/bc33f5a5f9f6562697219739697f2dd3bc3abaa4 and https://github.com/PulpQE/pulp-smash/commit/73239ad926b9358b01bc5e6d7cbcc627a9801857. As a result, the total number of tests is ~129 for Pulp 2.7 and a few more for Pulp 2.8.

At present, we're missing test

[2016-02-03 16:50] Ichimonji10 commented on #5
The discussion in #78 is relevant.

[2016-02-03 18:54] omaciel opened #81 "Add new test for "Uploading the same Content Unit twice""
As per this [issue](https://pulp.plan.io/issues/1406), there is a new regression in Pulp 2.8 Beta when one tries to upload the same content (ie. rpms, puppet modules, etc) to an existing repository. We need a new automated test that does the following:

* Create a new feed-less repository
* Manually import a valid content type (i.e. RPM, etc)
  * Assert that the content type was successfully uploa

[2016-02-03 19:18] omaciel commented on #81
@peterlacko please consider this issue your top priority :)

[2016-02-03 19:33] omaciel opened #82 "Add new test for "Reading an RPM repo returns incorrect rpm_unit_counts""
Please read the original [issue](https://pulp.plan.io/issues/1570) which describes a regression found on Pulp 2.8.0 Beta, and automate it.

[2016-02-03 19:38] Ichimonji10 commented on #82
I think we have a test for this. /me checks

[2016-02-03 19:39] omaciel commented on #82
@Ichimonji10 cool! That would be awesome!

[2016-02-03 19:40] Ichimonji10 commented on #82
[This test](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.rpm.api_v2.test_sync_publish.html#pulp_smash.tests.rpm.api_v2.test_sync_publish.SyncValidFeedTestCase.test_unit_count_on_repo) targets that issue. The relevant test code looks like this:

[code]

[2016-02-03 20:13] omaciel commented on #82
@Ichimonji10 shouldn't `SyncValidFeedTestCase` be decorated with a skip flag until the redmine issue is resolved?

[2016-02-03 22:01] Ichimonji10 commented on #82
@omaciel Nope.

* The test method shown above functions correctly on Pulp 2.7.
* Only RPM unit counts are incorrect. We still want to assert that Pulp 2.8 correctly reports `erratum`, `package_group` and `package_category` unit counts. The test method shown above does that.
* The other test methods in `SyncValidFeedTestCase` should still run.

[2016-02-04 00:03] dkliban opened #84 "pulp-smash should only run tests for plugins that are actually installed"
Pulp smash should inspect the system under test to determine which plugins are installed. Based on that information some or all tests should be run.

[2016-02-04 00:06] Ichimonji10 commented on #82
Cell phones are convenient for consumption, but not authorship. @omaciel, I've edited the explanation above for (hopefully) improved clarity.

[2016-02-04 00:09] Ichimonji10 commented on #84
:+1:

What do you think is a good, canonical way of determining which plugins are installed? I of course like the idea of checking with a package manager. But when installing using the scripts shipped with Pulp, which is what happens when one executes `vagrant up`, the package manager may be left ignorant of that. Can you shed some light on the interactions between the package manager and the inst

[2016-02-04 00:14] Ichimonji10 commented on #5
I realize now that, though we have come up with a solution for this issue, we never actually edited the documentation.

[2016-02-04 00:14] omaciel commented on #84
Robotello uses a `skip_if_not_set` (or something similar) that will skip a test or tests if certain configurations are not available. For example, if there's no Docker installed locally, then docker related test are skipped.

I'm in favor of making tests as smart as possible, but let's be careful not to make them too smart :)  Folks will only look at test results if something goes wrong and if we

[2016-02-04 00:16] omaciel commented on #82
@Ichimonji10 hehe got it :) so I guess we can close this issue?

[2016-02-04 00:18] Ichimonji10 commented on #82
I think so, yes. As soon as the relevant pulp.plan.io issue is moved to the MODIFIED state, the appropriate test will start running again. If we hear nothing, then that means the issue is fixed. And if we see a new test failure, we know that the fix didn't work. Easy as that. :smile:

[2016-02-04 00:19] Ichimonji10 commented on #82
I'll let you keep this open or close it, though.

[2016-02-04 02:47] dkliban opened #86 "checking for presence of 'service' on EL6 fails"
NoKnownServiceManagerError exception is raised while running pulp-smash against an EL6 machine.

https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/cli.py#L292

[2016-02-04 12:59] Ichimonji10 commented on #86
What service manager is used by RHEL 6? Is it a SysV-style init manager, or systemd, or OpenRC, or something else? Assuming it's a SysV-style init manager, is the `service` utility installed on the system? Assuming `service` is installed, why is it not available to the user Pulp Smash logs in as? Is it because `$PATH` excludes `service` for certain users?

[2016-02-04 13:01] Ichimonji10 commented on #86
Also, is this a consistent issue, or is this a one-off error? I ask because our Jenkins instance has been (and still is) successfully running the test suite against Pulp on RHEL 6.

[2016-02-04 13:13] dkliban commented on #86
'which' alias and binary are available on the RHEL 6 box. When I login as user jenkins to the box, I am able to run 'which service'. However, when pulp-smash runs the command remotely, the 'service' binary cannot be located for some reason. I did not investigate for long before I switched Jenkins at my branch of pulp-smash. Here[0] is what I did to get it working last night. Before I did that, pul

[2016-02-04 13:32] Ichimonji10 commented on #86
@dkliban When executing commands remotely via `ssh hostname some_command`, you're not given an interactive shell. That's likely the root of the issue.

[2016-02-04 13:36] Ichimonji10 commented on #86
@dkliban Take a look at `/etc/profile` on the target system.

[2016-02-04 13:38] Ichimonji10 commented on #86
From the bash man page:

[2016-02-04 14:00] Ichimonji10 commented on #84
The Pulp Smash code is organized in such a way that it's easy to select which plugins you'd like to test. Can we tell the test runner to blacklist certain packages (I mean a "package" in the Pythonic sense, not the package manager sense) during test discovery?

[2016-02-04 17:24] #86 closed

[2016-02-04 17:27] preethit opened #88 "Test that Docker images can be synced from the v2 registry"
1. Use `registry-1.docker.io` as your feed url.
2. "Upstream name" must be in the format <namespace>/<reponame>. For repos that do not have a namespace, use "library". See: https://pulp.plan.io/issues/1404

Steps

1. Create a docker repo with feed registry-1.docker.io

    pulp-admin docker repo create --repo-id=synctest --feed=https://registry-1.docker.io --upstream-    name=library/busybox

[2016-02-04 17:41] #5 closed

[2016-02-04 17:56] peterlacko commented on #81
Sure, will do!

[2016-02-04 19:43] omaciel commented on #88
@preethit great! How about filing separate issues to get other actions implemented as well? Publish, Edit? Delete? Copy? Let's get 100% coverage here

[2016-02-04 21:26] Ichimonji10 opened #89 "Cannot execute certain shell commands via cli.Client"
Python's `subprocess` module offers a very handy function under Python 3, `run`. It's used much like `cli.Client.run`. One of the few reasons I'm not currently using it is that it's unavailable on Python 2. Interest in Python 2 is also why I backported(ish) `pulp_smash.cli.CompletedProcess`. Here's a usage example:

[code]

By default, `subprocess.run` does not allow you to use typical shell featu

[2016-02-04 22:03] omaciel commented on #89
Tough call...

[2016-02-04 23:46] Ichimonji10 commented on #89
Perhaps this is a bug in Plumbum that can be fixed.

[2016-02-04 23:47] Ichimonji10 commented on #89
See toy code at: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:test-errata

[2016-02-05 00:15] omaciel commented on #89
Clever 😀

[2016-02-05 09:14] peterlacko commented on #61
Sure I can.

[2016-02-05 14:26] preethit opened #90 "Repository create and sync with --remove-missing"
Test to verify that repositories can be created and synced when using --remove-missing. Assert that the --remove-missing is functioning as expected
https://pulp.plan.io/issues/1621

------
Will come back and add steps

[2016-02-05 14:44] dkliban opened #91 "when broker reconnect test fails, all following tests fail"
The broker reconnect test should restart all the services after it is done running.

[2016-02-05 14:46] Ichimonji10 commented on #91
That should be happening now.

[code]

Please give more information.

[2016-02-05 14:46] Ichimonji10 commented on #91
The broker reconnect tests work well for me locally.

[2016-02-05 14:48] dkliban commented on #91
They need to be stopped first. Then started again.

[2016-02-05 14:50] dkliban commented on #91
I filed an issue[0] with Pulp yesterday afternoon. Pulp-smash currently fails a bunch of other tests also because Pulp is rendered useless when it fails to reconnect to the broker.

[0] https://pulp.plan.io/issues/1635

[2016-02-05 14:51] Ichimonji10 commented on #91
Ahhhh, now I understand. Thanks for giving the "why".

[2016-02-05 15:13] Ichimonji10 commented on #91
@dliban Does that bug imply that the services should be restarted in a certain order?

[2016-02-05 15:30] dkliban commented on #91
@Ichimonji10 I don't think it matters in what order they are restarted.

[2016-02-05 17:11] Ichimonji10 commented on #84
@asmacdo or anyone else: is there some good, canonical way to determine whether a given plugin is installed? One option is to execute `test -d /path/to/plugin/dir` on the host. That's ugly and relies heavily on implementation-specific details, but it works. Another option is to ask pulp-admin on the target system, though that brings up its own set of possible bugs. Thoughts? See: https://github.co

[2016-02-05 17:15] #91 closed

[2016-02-05 17:32] Ichimonji10 commented on #82
As per an IRC discussion, I'm closing this issue. A test is in place for [Pulp issue #1570](https://pulp.plan.io/issues/1570). It is currently being skipped, but will start running again when the Pulp issue is moved to the MODIFIED state.

[2016-02-05 17:32] #82 closed

[2016-02-05 17:40] Ichimonji10 commented on #84
Is there, say, an API call I can make where I ask Pulp which plugins are installed and it responds with a list of them?

Pulp is only available through its API. Even the pulp-admin CLI client talks to Pulp via its API. And this is appropriate: it means that the target host can install Pulp however it likes (system-wide, per-use, in a virtualenv, etc), and client don't have to care. If we can maint

[2016-02-05 19:14] asmacdo opened #93 "Test sync with repo that has directory structure"
This https://github.com/pulp/pulp_rpm/pull/787 fixed an issue that was apparent when syncing from the CDN, but not when syncing from zoo. The reason for this is that the CDN's packages were in a `Packages/` dir, but zoo has a flat structure.

[2016-02-05 19:56] preethit commented on #90
I see 2 options ( There may be 1 more) how we can go
Option 1
1. Create a repo  foowith a feed to a repo  bar on another pulp-server
pulp-admin rpm repo create --repo-id foo --feed http://pulp-server1/bar --remove-missing true
Assert
 The repo create is successful with the options

2. Synchronize the repo
pulp-admin rpm repo sync run --repo-id foo

3. On  remove an rpm from the bar repo
pulp-admin

[2016-02-08 14:58] preethit opened #95 "Repository create and sync with --retain-old-count"
https://pulp.plan.io/issues/1624

I need to clean this up with clearer steps.

Create a repo foo with a feed to a repo bar on another pulp-server

[code]

Assert the repo create is successful with the options

Synchronize the repo

[code]

[2016-02-08 16:25] Ichimonji10 commented on #95
Hmm. This requires multiple Pulp servers. I'm going to have to think on how to implement this one.

[2016-02-08 16:42] Ichimonji10 commented on #93
Where can I find a repository with a non-flat directory structure?

[2016-02-08 16:50] Ichimonji10 commented on #62
Since this issue was filed, I've only seen tests fail due to time-outs once: when Pulp services legitimately broke and were failing to function.

We can further increase the timeout window if need be. However, I'm wary of doing so: there's little difference between an unresponsive service and a dead service, and if it takes more than two minutes for Pulp to perform an action, I'm inclined to call

[2016-02-08 16:50] #62 closed

[2016-02-08 19:16] preethit commented on #95
It may not require multiple pulp servers
One option would be using a directory with multiple versions of the rpm and running createrepo. And using that  directory for feed  {--feed file:///repo-directory}

[2016-02-09 16:23] preethit opened #98 "Repo copy of docker 2.0 repo"
1. Create a docker repo with feed of v2

      Assert: Repo is created

2. Sync the repo

    Assert: Repo sync successful

3. Create a docker repo with no feed
     Assert:No feed repo created

4. Run repo copy from synced repo  to the destination repo

    Assert: Repo copy successful

5. Run repo list

    Assert: Lists repo
             Repo content in the destination same as the source.

[2016-02-09 18:19] #88 closed

[2016-02-09 19:57] rbarlow opened #99 "psmash in the Pulp development environment is failing due to a lint error"
In the Pulp development environment, psmash fails due to a linter error:

[code]

[2016-02-09 20:02] rbarlow opened #100 "Pulp smash is attempting to ssh to dev (127.0.0.1) in the Pulp dev environment"
Pulp smash seems to be trying to ssh to the local machine inside the Pulp dev environment. I would expect that it would just run the commands locally when it's running on the same host:

[code]

[2016-02-09 20:18] dkliban commented on #100
Does your ~/.config/pulp_smash/settings.json contain

`"cli_transport": "local"`

?

[2016-02-09 20:25] Ichimonji10 commented on #100
From the documentation for [`pulp_smash.cli.Client`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.cli.html#pulp_smash.cli.Client):

And here's the code:

[code]

You can fix this by either:

* setting `"cli_transport": "local"` as suggested by @dkliban,
* setting `"base_url": "my_hostname"`, or
* setting the system's hostname.

[2016-02-09 20:25] #100 closed

[2016-02-09 20:35] Ichimonji10 commented on #99
This is the first ten lines of `pulp_smash.selectors`:

[code]

`import requests` comes after `import mock`, but the error message describes the opposite. @rbarlow, what is the output of `git status`? Is the Pulp Smash repository in a sane state?

[2016-02-09 20:38] preethit opened #101 "Delete docker repo"
1. Create a docker repo

   Assert: Docker repo is created

2.  Sync a docker repo

   Assert: Sync successful

3. Delete the docker repo

   Assert: Delete successful

[2016-02-09 20:42] Ichimonji10 commented on #84
A nice solution to this issue has been implemented in #96. However, the solution only works on Pulp 2.7. This is because, as described in [Pulp issue 1642](https://pulp.plan.io/issues/1642), the list of content unit types returned by Pulp 2.8 is incomplete. Examples of "content unit types" are `docker_image`, `python_package` and `ostree`.

[2016-02-09 20:45] Ichimonji10 commented on #101
Happy day! This is already done. See:

* [`pulp_smash.tests.docker.api_v2.test_crud`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.docker.api_v2.test_crud.html)
* [`pulp_smash.tests.docker.cli.test_crud`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.docker.cli.test_crud.html)
* [`pulp_smash.tests.docker.cli.test_sync`](http://pulp-smash.readthedocs.org/en/la

[2016-02-09 20:45] #101 closed

[2016-02-09 20:47] preethit commented on #101
Awesome. I should have looked.

[2016-02-09 20:57] Ichimonji10 commented on #23
In the months since this issue was opened, I haven't seen any need to add a random data generation library to Pulp. We may need one in the future, but I see no reason to keep this issue open if there's no use case to point to.

[2016-02-09 20:57] #23 closed

[2016-02-09 22:15] peterlacko commented on #90
@preethit @Ichimonji10, is there something more that needs to be tested? comment please. To PR I'll add also conditional execution of tests on 2.8, as they are failing currently.

[2016-02-09 22:17] Ichimonji10 commented on #90
@peterlacko, there's no need to conditionally execute tests on Pulp 2.8. See:

* https://github.com/PulpQE/pulp-smash/pull/97
* https://github.com/PulpQE/pulp-smash/commit/77f50a400c690d0eef594b3346816fecb1311413

[2016-02-09 22:18] Ichimonji10 commented on #90
There are not any tests that make use of the `--remove-missing` pulp-admin flag or its equivalent in the API. That's a good place to start.

[2016-02-09 22:25] Ichimonji10 opened #102 "Detect which plugins are installed on Pulp 2.8"
As described in https://pulp.plan.io/issues/1642, Pulp 2.8 does not correctly describe which plugins are installed. As a result, the OSTree tests never run on Pulp 2.8. Let's figure out some technique for interrogating the target system and determining which plugins are installed. With that done, let's do the following:

* Add tests that compare the output of `GET /pulp/api/v2/plugins/types/` with

[2016-02-09 22:26] Ichimonji10 commented on #102
Related to #84.

[2016-02-10 21:49] rbarlow commented on #100
Thanks @dkliban and @Ichimonji10! I went with the "local" flag and that seems to work.

I'm going to try to make a pull request to add that here:

https://github.com/pulp/pulp/blob/f0430cf7bc0ff77319cdff9842e300b1786acc60/playpen/vagrant-setup.sh#L62-L64

[2016-02-10 21:51] rbarlow commented on #100
https://github.com/pulp/pulp/pull/2413

[2016-02-10 22:26] rbarlow commented on #99
Hmm, that doesn't seem to be current master. When I browse github to current master, I see this:

https://github.com/PulpQE/pulp-smash/blob/abb104fc9c54ae99192f8d05e416e4ecbdf8dc8d/pulp_smash/selectors.py#L1-L11

[2016-02-10 23:09] Ichimonji10 commented on #99
Look at that URL...

[2016-02-10 23:12] Ichimonji10 commented on #100
:+1:

[2016-02-10 23:15] Ichimonji10 commented on #99
@rbarlow You're linking to `pulp_smash.selectors`, not `tests.pulp_smash.selectors`.

[2016-02-11 00:11] Ichimonji10 commented on #81
I'm self-assigning this.

* #90 needs more work vis–à–vis #103, and #61 is still open.
* I want to close the "high priority" issues.
* I have an idea for how to use mixins to refactor redundant code out of the various packages, and taking on this issue will allow me to explore that idea.

[2016-02-11 15:39] rbarlow commented on #99
Ah yes, I see that now. So now I am puzzled because I still get that error on my Vagrant box, but the code isn't the way that pylint is complaining (i.e., the code is the way you are saying it is.) I mean, this seems crazy, right?

[code]

This must be a pylint bug? Can you not reproduce this? Looks like I've got pylint==1.5.4.

[2016-02-11 16:00] Ichimonji10 commented on #99
I cannot reproduce this. What modules are being linted by Pylint? That is, which modules are bing imported by the Python interpreter? I strongly suspect that the code you're looking at is not the code that's being used.

[2016-02-11 16:51] rbarlow commented on #99
@Ichimonji10 if you look at the CLI I pasted above, it's only linting this one module (last arg).

Does this not happen when you run it in the Pulp Vagrant environment?

[2016-02-11 17:03] Ichimonji10 commented on #99
@rbarlow I don't run Pulp Smash within the Vagrant environment. I'm ignorant of how Pulp Smash has been integrated into Vagrant.

[2016-02-11 17:18] Ichimonji10 commented on #99
To give some context: I typically have a single clone of the Pulp Smash repository cloned onto my host development system, and I do development in this one repository and test Vagrant systems from it. (There's typically two or four Vagrant systems running at once). In other words, I run Pulp Smash outside of Vagrant, not inside. A screenshot might help.

![screenshot_2016-02-11_12-12-44](https://c

[2016-02-11 18:17] rbarlow commented on #99
If you want to try to reproduce what I'm seeing, if you have pulp-smash checked out alongside pulp and friends during vagrant up, all you need to do is run ```psmash``` after you vagrant ssh.

I haven't been able to figure out what is wrong, but I agree that the code it is complaining about is not wrong so it's got to be either environmental or a pylint bug.

What version of pylint are you using?

[2016-02-11 18:17] #99 closed

[2016-02-11 18:28] Ichimonji10 commented on #99
Cool. I'll try that! Thank you. :smile:

pylint 1.5.4, astroid 1.4.4

[2016-02-11 20:10] asmacdo commented on #93
I have created a task for us to create a demo repo in pulp. https://pulp.plan.io/issues/1668

[2016-02-11 20:15] Ichimonji10 commented on #93
:+1: Woot!

[2016-02-11 20:56] asmacdo opened #104 "Decide how to host content for pulp-smash to test syncs"
Currently, the feed is pulp's fedorapeople for RPM, puppet forge, and dockerhub. It would be ideal for pulp-smash to have its own demo content, even if it is just a mirror of the content we currently use.

This will speed up the tests and will enable pulp-smash to test syncing with repositories that have the traits necessary to replicate certain bugs. For example:  https://github.com/PulpQE/pulp-s

[2016-02-11 21:05] asmacdo opened #105 "Test sync with dockerhub with unnamespaced repositories"
https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/docker/cli/test_sync.py#L16

The repository's real location is `library/busybox`, but when pulling from Dockerhub, the Docker client automatically prepends `library/` to any unnamespaced repos. Syncing from `upstream-name=busybox` should have exactly the same result.

[2016-02-11 21:12] Ichimonji10 commented on #104
Being able to customize where Pulp Smash tests get content from would have several benefits:

* If some content source becomes unavailable, we could simply point Pulp Smash at some other content source. This would lower our reliance on outside systems that are outside our control.
* Tests can be *much* faster and more robust if the content is being pulled from a nearby source.
* If the content sou

[2016-02-11 21:28] Ichimonji10 commented on #104
My main worry is getting the implementation details right. One proposal is to make demo content available and then asking users to download that content locally and then setting up a content server. This could be cool - but how hard would that be to do? Setting up server for RPM files is easy: it requires just executing `python -m http.server 80` at the root of some directory tree. But what about

[2016-02-11 21:29] Ichimonji10 commented on #105
Should we have tests that do both? That is, should we use both `--upstream-name=busybox` and `--upstream-name=library/busybox`?

[2016-02-11 22:16] Ichimonji10 commented on #81
Branch https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:duplicate contains a first draft of tests for this issue. They all succeed at the moment, and they're structured so that common code can be re-used between the different plugins.

@bmbouter, this set of tests targets [Pulp #1406](https://pulp.plan.io/issues/1406). In that issue, @mhrivnak suggests that a `PulpCodedException`

[2016-02-12 14:42] rbarlow commented on #104
The Python sync can't be done from a Pulp server (or a static content server) - it requires PyPI because of an interactive API.

[2016-02-12 14:49] Ichimonji10 commented on #104
So that's at least docker, puppet and python that must be served from something that implements an API.

[2016-02-12 19:41] seandst opened #107 "Test dependency solving resolution on RPM repo copy"
When recursively copying rpm units from one repo to another, only the latest units should be copied. The zoo repo provides packages with dependencies that can be used to verify this functionality. Specifically, it provides two version of 'walrus', and 'chimpanzee' depends on walrus; only one version of walrus should be copied when recursively copying chimpanzee.

Here are the relevant pulp-admin c

[2016-02-12 19:55] bmbouter commented on #81
@Ichimonji10 Any `PulpCodedException` is designed to be user-facing. When we raise them, the Pulp httpd middleware should convert them to JSON and hand them back to the user in a structured way. If we're generically raising a 500 without any coded exception, I consider that a bug.

Regarding [Pulp #1406](https://pulp.plan.io/issues/1406), in 2.7 I expect no exception to be raised since 1406 was in

[2016-02-12 20:23] Ichimonji10 commented on #81
Let me make sure I have this right. In a nutshell, when duplicate content units are uploaded:

* No exception should be raised in Pulp 2.x.
* An exception should be raise in Pulp 3.x.

[2016-02-12 20:30] bmbouter commented on #81
@Ichimonji10  We haven't defined a behavior for Pulp 3.x

Let me put it this way. In all Pulp 2.x versions no exception should be raised when uploading a unit that is already known to Pulp. In 2.7 and (likely) all versions prior this has not been a problem. On 2.8.0 there is a regressions which is what [Pulp 1406](https://pulp.plan.io/issues/1406) is tracking specifically. Once 1406 is resolved 2.

[2016-02-12 20:32] preethit opened #108 "Test tasks purge"
Test that tasks can be listed and completed tasks can be purged.
https://pulp.plan.io/issues/1418

Steps
1. Perform a few repository operations
2. List all the tasks
3. Purge completed tasks

The CLI commands for listing and purging tasks are
pulp-admin tasks list
pulp-admin tasks list -a
pulp-admin tasks -s "waiting"

CLI commands
pulp-admin tasks purge -a
pulp-admin tasks purge -s "successful"

[2016-02-12 20:35] Ichimonji10 commented on #81
Yes, that makes sense. Thank you.

[2016-02-12 22:39] Ichimonji10 opened #110 "Move API & CLI functions out of `pulp_smash.utils`"
Module `pulp_smash.utils` includes the following functions that make use of the API:

* `poll_spawned_tasks`
* `poll_task`
* `reset_pulp`

It also includes a `get_broker` function that makes use of the CLI.

Let's move these functions out of `pulp_smash.utils`. Having these functions all dumped together into this single module is problematic. Most pressingly, it is impossible to move the `_get_plu

[2016-02-12 23:08] Ichimonji10 opened #111 "Should techniques for managing merges be added to the docs?"
When a pull request comes in, most checks are done automatically by Travis. It's great! However, there's a couple things I do that either cannot be automated or are not automated. Three come to mind:
- For one, I _never_ use the green "merge pull request" button. When you click that button, GitHub performs a non-fast-forward merge, even if the pull request is rebasd onto HEAD. That's silly, and it

[2016-02-12 23:12] Ichimonji10 commented on #111
Oh, one more thing: I almost always `git checkout` the code in pull requests and personally inspect it.

[2016-02-12 23:22] Ichimonji10 commented on #111
For posterity, here's the procedure for getting, inspecting and merging a pull request. First, edit `.git/config`. Find the `[origin]` section (or whatever section points at this repository - for me it's `[upstream]`) and add the following **before** the existing fetch line:

    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

Then do a `git fetch`. You'll end up with this!

![screenshot_2016-

[2016-02-12 23:36] Ichimonji10 commented on #111
Given the above, I hope it's more apparent why I find good commit messages so important. In my book, it's a failure if I have to go to github just to figure out what a commit does. I should be able to execute `git show abc1234` and find out plenty. Some examples:

![screenshot_2016-02-12_18-31-37](https://cloud.githubusercontent.com/assets/1012989/13023433/e0f8c4e2-d1b6-11e5-84cd-b3252a4f93b5.png)

[2016-02-13 06:24] Ichimonji10 commented on #111
@dkliban

[2016-02-14 17:49] omaciel commented on #107
Thank you @seandst for the issue. I have set a `high priority` label to it and assigned it to @Ichimonji10 for automation.

[2016-02-14 18:20] omaciel commented on #110
Thank you @Ichimonji10 for the write up. I prefer the first option and 'bundle' all API-related code into its own package/namespace.

[2016-02-14 18:23] omaciel commented on #111
@Ichimonji10 thank you for the write up. I shall implement the same behavior from now on and avoid the temptation of clicking the merge button :)

[2016-02-15 13:19] shubham90 commented on #108
I would like to add that although 'canceled' state comes under completed states, but it cannot be purged.

[2016-02-15 13:26] dkliban commented on #108
@shubham90 Why did we decide to not allow purging of canceled tasks?

[2016-02-15 14:03] shubham90 commented on #108
@dkliban because it is not necessary that the tasks which are tagged as 'canceled' are actually canceled because of the asynchronous call of cancel tasks function. It first puts the state as cancel and then asynchronously tries to cancel the task. So, there might be a possible situation where canceled state task is still not completed.

[2016-02-15 14:22] dkliban commented on #108
@shubham90 makes sense. Thanks!

[2016-02-15 14:39] Ichimonji10 commented on #111
@omaciel I'm glad you find this useful! I'll admit, my approach definitely has a higher up-front workload for the committer(s). But I hope the benefits are apparent.

[2016-02-15 14:59] Ichimonji10 commented on #107
:+1:

[2016-02-15 15:01] Ichimonji10 commented on #110
Cool. Thanks for the input. :smile:

[2016-02-15 15:13] Ichimonji10 commented on #84
I have a strong interest in pursuing this further, but it's not at the top of my priority list. Unassigning myself.

[2016-02-15 15:14] Ichimonji10 commented on #110
Having this issue solved will allow me to write a mixin for use in #81. Assigning to self.

[2016-02-15 16:34] preethit opened #112 "Test Sync Schedule"
https://pulp.plan.io/issues/1116
https://pulp.plan.io/issues/1381

1. create a repo
    pulp-admin -u admin -p admin rpm repo create --repo-id zoo --relative-url zoo --feed http://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo

2. create a scheduled sync to run every minute:
pulp-admin -u admin -p admin rpm repo sync schedules create --repo-id zoo --schedule 2015-06-06T14:29:00Z/PT1M
Assert

[2016-02-15 16:49] preethit opened #113 "Test Pulp Consumer Repo bind"
Test pulp consumer bind.
https://pulp.plan.io/issues/1399

1. Register a consumer

pulp-consumer -u admin -p admin register --consumer-id foo

Assert:
 Consumer registration successful

2. Bind a repository to the consumer
pulp-consumer rpm bind --repo-id=zoo
Assert:
   Repository bind is successful.

[2016-02-15 18:46] preethit opened #114 "Test Publish Schedule"
Create a repo:

[code]

Create a scheduled sync to run every 60 minute:

[code]

Assert:

* Sync schedule can be created
* Sync runs at the scheduled time.

Create a scheduled publish every 90 minutes:

[code]

[2016-02-15 18:49] preethit commented on #114
Create a repo
pulp-admin -u admin -p admin rpm repo create --repo-id zoo --relative-url zoo --feed http://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo

Create a scheduled sync to run every 60 minute:
pulp-admin -u admin -p admin rpm repo sync schedules create --repo-id zoo --schedule 2015-06-06T14:29:00Z/PT60M
Assert:

Sync schedule can be created
Sync runs at the scheduled time.

Create

[2016-02-16 02:38] preethit opened #115 "Test Remove/Unassociate feature"
Rest API
http://pulp.readthedocs.org/en/latest/dev-guide/integration/rest-api/content/associate.html#unassociating-content-units-from-a-repository
- [x]  category     - remove package categories from a repository
- [ ]   distribution - remove distributions from a repository
- [x]   drpm         - remove DRPMs from a repository
- [ ]   environment  - remove package environments from a repository
-

[2016-02-16 12:19] Ichimonji10 commented on #115
@preethit Where will the errata in this test case come from?

[2016-02-16 13:25] preethit commented on #115
The zoo repo has the errata. I have updated the step to list the errata first.

[2016-02-16 14:43] Ichimonji10 commented on #115
Awesome! Thank you.

[2016-02-16 19:17] #110 closed

[2016-02-16 19:49] rbarlow commented on #105
@Ichimonji10 I don't seem to be able to self-assign this issue - can you assign it to me? I'm gonna hack on it this afternoon.

[2016-02-16 19:49] rbarlow commented on #105
And yeah, I'll just make a test for each style.

[2016-02-16 20:01] asmacdo opened #116 "if linter fails pulp-smash should still smash pulp"
Tests dont run due to linter error.
[code]

[2016-02-16 20:06] asmacdo commented on #116
`psmash` alias did this, not pulp smash.

[2016-02-16 20:06] #116 closed

[2016-02-16 20:08] rbarlow commented on #116
This is a duplicate of https://github.com/PulpQE/pulp-smash/issues/99

[2016-02-16 20:43] rbarlow commented on #98
@Ichimonji10 I'll take this one if you want to assign it to me.

[2016-02-16 20:57] rbarlow commented on #105
Haha, I think @asmacdo is actually working on this, but hadn't assigned it when I asked. Sorry for the confusion!

[2016-02-16 21:06] preethit opened #118 "Test re publish repository after un associating content"
A repository need to re published to regenerate metadata after un associating content .This is to test that repository can be republished and the metadata is regenerated with no reference to the content removed.

1. Create a repository

pulp-admin rpm repo create --repo-id=foo --feed=https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/zoo/

2. Synchronize the repository
pulp-admin rpm repo s

[2016-02-16 21:12] Ichimonji10 commented on #105
/me facepalms

[2016-02-17 18:13] #105 closed

[2016-02-17 20:44] Ichimonji10 opened #122 "Drop redundant call report and task report tests"
As of c6308d4193bcbc0264daad307a98213741ad3a9d,

As a result, many test methods are no longer necessary. Let's walk through tests that explicitly check call reports and task reports, drop redundant checks, and drop the code that bothers to collect and save those call reports and task reports if possible.

[2016-02-17 20:45] Ichimonji10 commented on #122
#121 makes use of this new behaviour to great effect.

[2016-02-17 21:58] asmacdo opened #123 "Reverse dockerhub feeds v1 and v2"
Apparently, Dockerhub switched their registries. index.docker.io is now v2 and registry-1.docker.io is v1.

https://pulp.plan.io/issues/1685

[2016-02-18 13:24] Ichimonji10 commented on #123
d93de79f0cec13779a719d45d3a8e4dac1cd34dd creates and uses two new constants, `DOCKER_V1_FEED_URL` and `DOCKER_V2_FEED_URL`. However, that commit does not swap the URLs for these two feeds. This is because, in my tests, swapping these URLs triggers new test failures.

Are we confident in [pulp issue 1685](https://pulp.plan.io/issues/1685)?

[2016-02-18 13:26] Ichimonji10 commented on #123
Unassigning from self, as I'm not actively working on this.

[2016-02-18 21:00] bowlofeggs opened #124 "[API] Test that copying Docker Manifests also copies the Blobs that they reference"
In working on #98 I wanted to test that copying Docker Manifests also copies their referenced Blobs, but pulp-admin does not present an interface for users to list Blobs in a repository. I want to continue focusing on the CLI with that issue, so this issue is to track this remaining test that can only be done with the API. Here are some steps:
- Create a docker repository that is enabled to sync v

[2016-02-18 21:03] preethit opened #125 "Test pulp repository Export"
Test repository can be exported.

1. Create a repository

2. Synchronize the repo

3. Export the repo

- [ ] Export to default location

- [ ] use --export-dir option to export to a different location

[2016-02-19 14:54] bmbouter opened #127 "Assert that two publishes do not modify the RPM repodata"
Test setup:
- Create a repo and sync+publish it (ie: zoo)

The test:
- Get the contents of repodata from the published repo
- publish zoo a second time
- Get the contents of repodata from the published repo now

Assert that all the metadata files and their filenames are identical.

If Pulp is publishing a second time, when there is nothing to do, it should do nothing. In the past a republish cause

[2016-02-22 16:04] asmacdo commented on #36
There should me multiple cases. The database dump should come from each Y release of pulp that we allow migration from.

Additionally, the data should have 2 or more of each item. There are some simple bugs that occur in migration only when there is more than one item.

[2016-02-22 18:13] jeremycline commented on #72
I can't assign this to myself, but I'm going to work on this.

[2016-02-22 20:16] asmacdo commented on #123
@Ichimonji10 after chatting with some docker devs, I think we can close pulp issue 1685. I don't think that pulp-smash needs to change anything, but index.docker.io (and all Docker v1 content for that matter) are deprecated and might be removed in the near term. We should leave as is for now so we know we work with v1 as long as they have it on.

[2016-02-22 20:16] #123 closed

[2016-02-22 20:46] Ichimonji10 commented on #123
Thanks for the heads up.

[2016-02-22 21:31] #98 closed

[2016-02-22 22:02] asmacdo commented on #104
https://botbot.me/freenode/docker-distribution/2016-02-22/?msg=60658740&page=1

This comment from a docker dev suggests that syncing a lot of content from docker hub could possibly result in being throttled.

[2016-02-22 22:10] omaciel commented on #104
@asmacdo should we create/maintain our own registry and perhaps have our tests pointing at it? This may solve one issue, but then, how can we make our own registry 'relevant' with what Docker Hub offers so that we're always up to date?

[2016-02-23 15:19] ipanova opened #128 "Repository create and sync with --retain-old-content"
Test to verify that repositories can be created and synced when using --retain-old-content. Assert that the --retain-old-content is functioning as expected.
https://pulp.plan.io/issues/1624

[2016-02-23 15:26] preethit commented on #128
This issue is written here
https://github.com/PulpQE/pulp-smash/issues/95

[2016-02-23 15:26] #128 closed

[2016-02-23 15:27] ipanova commented on #128
ahh sorry @preethit i did not notice, thanks!

[2016-02-23 15:41] asmacdo commented on #104
@omaciel, I think that would be a good solution. I don't think we need to keep a testing registry up to date as a Dockerhub mirror. It only needs a small number of repos for pulp to sync down for testing. We can even create this content, no need to sync it from Dockerhub at all.

I know of at least one thing that is special about Dockerhub, which is the un-namespaced repository issue, but I think

[2016-02-23 16:24] #73 closed

[2016-02-23 16:28] Ichimonji10 commented on #104
:+1:

How about using our own content server for nearly all docker-related tests, and then letting [`SyncUnnamespacedV2TestCase`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.docker.cli.test_sync.html#pulp_smash.tests.docker.cli.test_sync.SyncUnnamespacedV2TestCase) continue hitting docker hub?

[2016-02-23 16:51] jortel commented on #113
Can an admin assign this issue to me?

[2016-02-23 20:48] Ichimonji10 commented on #113
Done. I've also given you permissions to edit issues. Use it wisely! (The same permission gives repo write access.)

[2016-02-23 21:14] asmacdo commented on #104
That seems fine

[2016-02-23 23:06] omaciel opened #131 "Document best practices for collaboration"
Let's create a wiki/document describing 'the rules of engagement', best practices for collaboration with this project. What do we expect from pull requests, issues, etc created by those who want to collaborate with the project, as well as what they should expect from us.

[2016-02-23 23:07] omaciel commented on #81
Hi @PulpQE/quality-engineers where do we stand on this issue?

[2016-02-23 23:08] omaciel commented on #90
@peterlacko hi there, what's the status for this issue?

[2016-02-24 10:44] goosemania commented on #112
@Ichimonji10 , please assign this one to me.

[2016-02-24 12:20] Ichimonji10 commented on #112
Done. I've also given you permissions to edit issues. Use it wisely! (The same permission gives repo write access.)

[2016-02-24 12:52] preethit commented on #81
@omaciel The issue is still being worked on as a blocker for 2.8. Its in an assigned state.
https://pulp.plan.io/issues/1406

[2016-02-24 14:12] pcreech commented on #114
I can take this one on, can someone assign it to me?

[2016-02-24 14:34] Ichimonji10 commented on #114
Done. I've also given you permissions to edit issues. Use it wisely! (The same permission gives repo write access.)

[2016-02-24 14:53] pcreech commented on #114
Assigned to @goosemania as she is working on 112, which is similar

[2016-02-24 14:54] asmacdo commented on #131
Can this live in the official docs? If not, then lets remove what is there and put a link. It would be most helpful if all the info needed is in only one place.

[2016-02-24 15:00] rbarlow commented on #104
@asmacdo @omaciel I do think we at least want two tests that actually sync with Dockerhub - one for v1 and one for v2. Syncing with Dockerhub does not work exactly the same as syncing with Pulp or even the same as syncing with a Docker Distribution container.

[2016-02-24 16:16] #95 closed

[2016-02-24 16:18] asmacdo commented on #115
@preethit I saw that your docs link is our old docs page. The correct link is this:
http://pulp.readthedocs.org/en/latest/dev-guide/integration/rest-api/content/associate.html#unassociating-content-units-from-a-repository

[2016-02-24 16:26] preethit commented on #115
@asmacdo Thanks fixed now.

[2016-02-24 18:29] Ichimonji10 commented on #131
I like the idea of putting this in the docs. How about Pulp Smash → About → [Contributing](http://pulp-smash.readthedocs.org/en/latest/about.html#contributing)?

Here's a brief proposal. We can continue submitting pull requests as we currently do, but the standard for pull requests would be as so:

* A pull request should pass all automated linters. Travis already checks this automatically, but th

[2016-02-24 18:57] mhrivnak commented on #131
LGTM. For the section on outstanding issues, you might add some of these thoughts:

- missing unit tests
- not adhering to generally accepted best practices that are difficult to catch with a linter, such as DRY
- anything that would normally be required by a pull request against pulp itself

You may or may not want to add those specific items, but the point is to show that you can request reasona

[2016-02-24 18:58] omaciel commented on #131
So the tl;dr is:

* A contributor sends a Pull Request addressing a unique, single task.
  * a task could be one single automated test, or many
  * a task could be a fix to an existing piece of the framework, required to support future automated tests
  * therefore, we would like to keep one pull request per unique task
* If the pull request passes Travis (aka lints):
  * If there are only 'cosmet

[2016-02-24 19:02] preethit opened #133 "Test Search for content types"
Create a repository or repositories, and search for each of the following types of content:
- [ ] `distribution`
- [ ] `docker_blob`
- [ ] `docker_image`
- [ ] `docker_manifest`
- [ ] `docker_tag`
- [ ] `drpm`
- [ ] `erratum`
- [ ] `iso`
- [ ] `ostree`
- [ ] `package_category`
- [ ] `package_environment`
- [ ] `package_group`
- [ ] `package_langpacks`
- [ ] `puppet_module`
- [ ] `python_package`
-

[2016-02-24 19:40] omaciel commented on #104
@rbarlow agreed. So I wonder if we should have something like this:

* Run a test (or a few) to make sure that we can sync against Dockerhub using both v1 and v2
* All other tests that don't necessarily require Dockerhub could go against our internal registry

Thoughts?

[2016-02-24 20:00] Ichimonji10 commented on #131
Ahh. So if a pull request states "test foo" but fails to test foo, then I can kick it back to the submitter. That makes sense.

Hehe. I think that my ideas on crafting reusable code and so on may differ from what the contributor's thoughts to a frustrating extent. It might be best to say "your pull request is more likely to be reviewed and merged in a prompt manner if it exceeds the three requirem

[2016-02-24 20:09] Ichimonji10 commented on #131
@omaciel I'm thinking of having a lower bar than that for getting commits merged, and increasing the scope of what a reviewer might do in their follow-up commit. I really do want to make sure that the requirements for having a pull request considered and eventually merged are clearly laid out and reasonably low, so as to avoid stepping back into our current situation of having frustratingly hard c

[2016-02-24 20:39] Ichimonji10 commented on #81
As of #121, Pulp Smash tests duplicate uploads for the docker plugin. The other plugins are untested.

[2016-02-24 20:56] preethit opened #134 "Test orphan remove"
- [x] Remove all the orphaned contents
- [ ] Remove orphaned content by type

1. Create a repository
2. Sync a repository
3. Delete  the repository
4. List the orphaned content
5. Remove orphaned content
     a.Remove the orphaned content by type
     b. Remove all the orphaned content

[2016-02-24 21:32] asmacdo commented on #131
I worry about the model where contributors meet a set of minimum standards and the reviewer is responsible to clean it up for higher standards. At the moment, you are the primary reviewer and commiter, but if you are out or busy and pulp-smash tests need to be merged, I can't justify spending my time rewriting other contributors' commit messages or rewriting code for personal style preferences.

I

[2016-02-25 00:02] rbarlow commented on #104
@omaciel yeah that sounds like a great plan!

[2016-02-25 00:20] rbarlow commented on #131
I don't think that one commit per pull request should be a hard rule. We do usually do that in Pulp and it is most often the best course, but occasionally it does make sense to have two atomic commits that need to go in together. I would reword that bit to just say that commits should be atomic and leave pull requests out of it.

[2016-02-25 13:36] omaciel commented on #104
@rbarlow @Ichimonji10 @preethit @asmacdo so to do what I [proposed](https://github.com/PulpQE/pulp-smash/issues/104#issuecomment-188423741), we need a couple of things to happen:
1. Someone would have to create a registry, preferably somewhere open to the community
1. Someone would have to determine which existing test cases should be pointed at Dockerhub and which ones should use the 'community'

[2016-02-25 14:35] Ichimonji10 commented on #131
Under the current model, I ask contributors to meet high standards, and it's failing spectacularly. This proposal changes things so that contributors are asked to meet lower standards, and are merely incentivized to reach higher. A third option is to just... give up.

That's not part of the proposal.

Code is read far more often than it is written. I don't think it's a waste of time to ensure that

[2016-02-25 15:36] mhrivnak commented on #131
Let's be careful to keep this discussion in perspective. We want the same things. Everyone involved wants code to be legible. Nobody is arguing in favor of complexity or bad implementations.

But these are subjective measurements whose long-term value is difficult to quantify, and that is the reason for the proposed arrangement.

As you invest more time and energy in moving those measurements in a

[2016-02-25 15:53] Ichimonji10 commented on #131
That makes sense to me. :+1:

[2016-02-25 18:07] asmacdo opened #135 "Improve priority system for issues"
Right now, we have the `High Priority` label. The issue is that whenever a regression is found, an issue is created and given high priority, which could slow down our progress towards increasing coverage.

Some possibilities would be to create multiple tracks like `regressions` and `coverage` labels, or if it would be better to create `medium priority` and `low priority labels`.

[2016-02-25 18:09] asmacdo commented on #112
I think it would be helpful to do a full set of crud tests, not just create and run. These should include listing all schedules and listing an individual schedule, and update and delete.

[2016-02-25 18:10] asmacdo commented on #114
Need full CRUD tests as I mention here:
https://github.com/PulpQE/pulp-smash/issues/112#issuecomment-188909229

[2016-02-25 19:23] omaciel commented on #135
@asmacdo I went ahead and created two new labels:
* `medium priority`
* `low priority labels`

We can continue this discussion if you feel that these labels don't quite provide the level of information you want to convey.

[2016-02-25 20:56] asmacdo commented on #135
@omaciel thats probably fine, lets keep an eye on it, and if we notice a problem we can reopen.

[2016-02-25 20:56] #135 closed

[2016-02-26 14:33] preethit commented on #104
@omaciel I can help with #2. I am not exactly sure how to do it. But may be able to work with @asmacdo or @rbarlow

[2016-02-26 15:04] pcreech commented on #127
Looks like we do not currently guarantee this for pulp 2.8.0

[repomd.txt](https://github.com/PulpQE/pulp-smash/files/148384/repomd.txt)

[2016-02-26 15:26] asmacdo commented on #115
This will test the removal of some units, but we are restricted by the units provided by the demo repository. I have updated a ticket in pulp to improve this demo repo:
https://pulp.plan.io/issues/1668

[2016-02-26 16:15] bowlofeggs opened #136 "Test the full end-to-end operation of syncing a Docker container and running it in Docker"
We should write a test that tests the full end-to-end story of syncing down a Docker container, publishing it, Crane picking up the publish, the Docker client pulling it from Crane, and then running something in it to prove that it works. Here's a possible example:

0) Sync busybox.
1) Publish busybox.
2) Wait for Crane to notice busybox (it polls its data folder on some period.)
3) Use the docker

[2016-02-26 16:38] mhrivnak commented on #127
I agree that we aren't making that guarantee yet, although it's a reasonable behavior to consider for the future.

[2016-02-26 16:43] asmacdo commented on #115
Under the hood, the remaining unit types should work similarly to the ones being tested. They should still be done, but I suspect that most errors should be caught by the tests I added in #137. Therefore, I will leave this issue open, but recommend a low priority.

[2016-02-26 16:46] bmbouter commented on #127
I was told that we already had a behavior which performed a no-op if no units were modified since the `last_published` time. It seems we don't do that. Given that I need to file an issue on it.

[2016-02-26 16:49] mhrivnak commented on #127
Sync is mostly a no-op if the remote repomd.xml's ``revision`` hasn't changed. Maybe that's what you're thinking of?

Publish will do very little if no content has changed, but it does still re-generate repomd.xml at a minimum.

[2016-02-26 17:33] midnightercz commented on #127
@pcreech can you find out why was open-size of files changed?

[2016-02-26 18:00] preethit opened #138 "Can tests cache content?"
Smash tests retrieve content once from a remote source like docker hub, and then re-use it for multiple tests. Doing a new sync of content for every test case is problematic for a variety of reasons.

[2016-02-26 18:13] asmacdo commented on #134
When confirming that orphans were removed, listing orphans is not enough. We should also check that the content was removed. https://pulp.plan.io/issues/1238

[2016-02-26 18:25] asmacdo commented on #15
@Ichimonji10, @omaciel, how would you feel about changing this issue to "Create issues for tests to be Ported"?

Creating an issue for each test case to be ported would be a substantial amount of work, but it will set us up to be much better organized. This will allow an individual case to be prioritized separately, and assigned to someone to prevent duplicate work. It will also prevent duplicate

[2016-02-26 18:44] preethit commented on #15
@asmacdo This issue was created as a starting place for pulp-smash. So I think changing the issue to what you mentioned should work just fine.

[2016-02-26 21:05] bmbouter commented on #127
Here is the story I wrote to go with this pulp-smash issue.

https://pulp.plan.io/issues/1724

[2016-02-26 21:13] asmacdo commented on #134
I vote this is high priority because I feel like we have seen bugs here more than once.

[2016-02-29 14:12] Ichimonji10 commented on #15
:+1:

[2016-02-29 14:33] Ichimonji10 commented on #138
There's at least two options for caching content.

One option is to perform caching on a per-module basis with the `setUpModule` and `tearDownModule` functions. In `setUpModule`, one could create a Pulp repository with the desired content and then clone that repository as needed in individual tests; or, one could download content into memory and upload it to the Pulp server into new repos as neede

[2016-02-29 17:08] preethit opened #141 "Test pulp-admin content source"
http://docs.pulpproject.org/user-guide/content-sources.html

$ pulp-admin content sources
Usage: pulp-admin [SUB_SECTION, ..] COMMAND
Description: manage content sources

Available Commands:
  list    - list sources
  refresh - refresh sources

https://pulp.plan.io/issues/1692

[2016-02-29 17:18] preethit opened #142 "Test Tasks"
http://pulp.readthedocs.org/en/latest/user-guide/admin-client/tasks.html
- [ ] cancel
- [ ] details
- [ ] list
- [ ] purge - https://github.com/PulpQE/pulp-smash/issues/108

Related redmine
https://pulp.plan.io/issues/1483
https://pulp.plan.io/issues/1664

pulp-admin tasks
Usage: pulp-admin [SUB_SECTION, ..] COMMAND
Description: list and cancel server-side tasks

Available Commands:
  cancel  - ca

[2016-02-29 17:26] shubham90 commented on #142
I can work on this one. Can you assign this to me please?

[2016-02-29 17:32] preethit commented on #142
@shubham90 done

[2016-02-29 18:08] shubham90 commented on #142
@preethit Thanks!

[2016-02-29 22:21] pcreech commented on #127
@midnightercz https://pulp.plan.io/issues/1725

[2016-03-01 16:37] rbarlow opened #146 "pulp_smash.selectors is conflicting with Python 3's selectors module with unittest2"
I've been attempting to run pulp-smash with Python 3.4 in the Pulp development environment, with this pull request:

https://github.com/pulp/pulp/pull/2460

Unfortunately, this happens:

[code]

This is because Python 3 has a module called called selectors in the standard library, and pulp_smash.selectors is getting imported instead. This may happen due to the test runner altering the PYTHONPATH,

[2016-03-01 18:31] rbarlow commented on #146
For the record, this error happens when the test suite is run with unittest2, but does not happen when run with py.test.

[2016-03-01 19:04] goosemania commented on #114
@preethit, was this issue initially created to test two consecutive schedules, sync-publish? or it is ok to test just publish case here because we have separate tests for scheduling a sync?

[2016-03-01 19:17] preethit commented on #114
@goosemania Looking at this issue, I realized that publish cannot be scheduled. Yes please change it to test publish if it makes sense. Or we can close it as well.

[2016-03-01 19:42] goosemania commented on #114
@preethit, I think [it can be scheduled](https://pulp.readthedocs.org/en/latest/dev-guide/integration/rest-api/repo/publish.html#scheduling-a-publish), i did it recently.

[2016-03-02 19:56] Ichimonji10 commented on #146
I use both py.test and unittest2 on Python 3.5. The bug described here may be specific to unittest2 on Python 3.4 and older.

[2016-03-02 21:21] Ichimonji10 commented on #131
[Issue and Pull Request Templates](https://github.com/blog/2111-issue-and-pull-request-templates)

[2016-03-02 21:47] asmacdo commented on #104
@preethit, https://docs.docker.com/registry/ should get you started.

[2016-03-03 20:16] asmacdo commented on #36
@Ichimonji10, as a preliminary step I think it is super crucial to at least attempt to run migrations on a db dump from an old release. This has broken at least 3 times now, so I think this should be the highest priority new case we have.

In fixing https://pulp.plan.io/issues/1738, I got a db dump from @preethit which I can send to you.

For instructions on how to use a mongo dump, use [this doc]

[2016-03-03 20:18] mhrivnak commented on #36
I agree completely. This would be hugely valuable.

[2016-03-03 20:44] asmacdo commented on #115
Reopening because referenced commit does not include all types.

[2016-03-04 12:45] ipanova opened #152 "Updating a docker distributor causes an HTTP 500"
https://pulp.plan.io/issues/1501
1. create repo, add distributor.
2. update distributor
3. assert update was successful.

[2016-03-04 16:13] asmacdo commented on #138
I think using a `setUpModule` would help a lot less than setting up a cache. Otherwise, tests inside of a module will depend on each other in a way that is not ideal (and it will be really hard to test deletes in the same module as the rest of CRUD).

In the end, I think that most test modules will need to create a repository more than once. And often this repo will be shared with other modules as

[2016-03-04 17:33] asmacdo opened #155 "Port repository CUD cases"
Some of these tests already exist. At the time of creating this issue, the existing smash tests  are located here: https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/platform/api_v2/test_repository.py

The tests to be ported are here: https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_02_repo_cud.py

Primarily, this module includes tests for correctly h

[2016-03-04 17:41] asmacdo opened #156 "Port repo_importer_distributor cases"
Tests to be ported: https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_02_repo_importer_distributor.py

Since importers and distributors are plugin specific, these tests will need to cover each of the plugins. Some already exist for the simplest plugin, ISO. https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/api_v2/test_iso_crud.py

The writer of th

[2016-03-04 17:43] asmacdo commented on #33
Add failure tests from https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_02_rpm_repo.py

[2016-03-04 17:46] asmacdo opened #157 "Ensure that failure scenarios are included in RPM sync/publish"
The old tests: https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_02_rpm_repo.py

The new tests: https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/api_v2/test_sync_publish.py

The new tests cover most of the main cases, but please ensure that the failure cases are covered also. Recommend Medium priority due to the fact that the most important cases

[2016-03-04 18:13] asmacdo opened #158 "smash tests should remove orphans on cleanup"
The removal of each of the items in `cls.resources` is automatic and often includes repositories. If those repos were synced, this will leave orphaned content units. Removing these units between tests is necessary to ensure full clean up.

An example of how to do this is here:
https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/api_v2/test_orphan_remove.py#L46

Automatic cleanup

[2016-03-04 20:45] asmacdo commented on #134
Needs to be updated to include all the cases here:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_10_orphans.py

[2016-03-04 20:48] asmacdo commented on #112
To reclose this issue either:
* Confirm that all cases in the following module are covered:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_19_scheduled_sync.py

or

* Create issues for the gaps

[2016-03-07 16:23] asmacdo opened #159 "Port repo group crud tests"
Old tests:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_04_repo_group.py

Completion of this story will also require either porting the repo group distributors tests or creating a separate issue to track them:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_04_repo_group_distributors.py

As of now, there are not any repo group te

[2016-03-07 16:26] asmacdo opened #160 "Port repo group publish tests"
Depends on https://github.com/PulpQE/pulp-smash/issues/159

Old code
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_04_repo_group_publish.py

Recommend medium priority because this code is less used and less likely to be caught if broken.

[2016-03-07 16:29] asmacdo commented on #133
Completion of this story should either include a port of the old unit search code or the creation of a separate issue:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_16_unit_search.py

[2016-03-07 16:33] asmacdo commented on #81
Completion of this issue should include either a port of the relevant pulp-automation tests or the creation of a separate issue:
https://github.com/RedHatQE/pulp-automation/blob/master/tests/general_tests/test_21_upload_cud.py

[2016-03-08 18:53] preethit opened #161 "Test pulp can sync drpm, srpm"
- Test Repository Sync success with
    - [ ] drpm
    - [ ] srpm

Pulp-admin rpm repo create --repo-id drpm --feed https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/test_drpm_repo/
pulp-admin rpm repo sync run --repo-id drpm

Pulp-admin rpm repo create --repo-id srpm --feed  https://repos.fedorapeople.org/repos/pulp/pulp/demo_repos/test_srpm_repo/

pulp-admin rpm repo sync run --repo-id s

[2016-03-10 17:20] seandst opened #163 "Test packages in errata exist in repo"
When syncing repos with errata, pulp merges the errata found in that repo with an existing errata unit if errata with the same ID is already known to pulp. When a repo containing errata is published, pulp should then only include packages contained in that repo in the published updateinfo XML file. This makes for complex integration, including multiple repositories with multiple errata and multipl

[2016-03-10 21:49] asmacdo commented on #61
I am writing some tests for conflicting ostree relative path feeds (https://pulp.plan.io/issues/1106), but that will rely on a bit of a refactor of this code. Tthe tests I need to write are an extension of CRUD tests, so I plan to separate CRUD from repo_sync.

[2016-03-15 17:34] rbarlow opened #166 "pulp-smash takes significantly longer to run when using ssh for commands instead of local"
I've noticed that pulp-smash takes about 6x longer to run when run against a remote host than when run locally. Of course it is expected that it would be a little slower since network latency comes into play, but I suspect that there is a practical way to speed it up a good bit. I believe it may not be keeping ssh connections, and may be starting new connections as it goes. Is this true? If so, co

[2016-03-16 14:28] Ichimonji10 commented on #166
Adding something like this into the client's `~/.ssh/config` may help:

    ControlMaster auto
    ControlPersist 30

[2016-03-16 16:12] Ichimonji10 commented on #166
I tested the solution proposed above, and I saw a drop in test suite execution time from from 1,967 seconds to 1,635 seconds. That's a significant improvement. Bear in mind that my test system sports a dual core Opteron 280, and I suspect that modern systems would see greater proportionate improvements in test execution time.

@rbarlow, can you test this solution? All that's needed is to execute `

[2016-03-16 16:28] #158 closed

[2016-03-16 20:24] rbarlow opened #167 "Three pulp-smash tests seem to be fragile about hostnames"
I have been running pulp-smash on an F23 system pointed at a Fedora Rawhide system that's running the offical Fedora packages of Pulp. All the tests pass except for three, which fail due to hostname mismatching in some cases, and in other cases due to one half of the assertion expecting a hostname and the other not. Here's example test output, but I've sanitized the hostnames to protect the innoce

[2016-03-17 13:56] shubham90 commented on #142
I am removing my assignment from this test as I am going to spend more of my time in RHUI.

[2016-03-17 14:01] preethit commented on #142
@shubham90 I have unassigned you from this issue. Thanks

[2016-03-17 15:02] #118 closed

[2016-03-17 16:11] Ichimonji10 commented on #146
I attempted to reproduce this issue on a Fedora 23 system with Python 3.4 with the following procedure:

[code]

I did not encounter the error described by this bug.

@rbarlow, you mention that:

Are you sure that unittest2 is used as the test runner? I notice that the `psmash` command executes `python -m unittest`, not `python -m unittest2`.

[2016-03-17 16:18] Ichimonji10 commented on #146
Interestingly, I just ran the entire test suite with `python -m unittest` with no problems either.

[2016-03-17 16:22] rbarlow commented on #146
psmash uses py.test:

https://github.com/pulp/pulp/blob/38adb192add8cd0b66940a09a8183921cace61da/playpen/ansible/roles/dev/files/bashrc#L143

[2016-03-17 16:28] Ichimonji10 commented on #146
OK. I'm looking at the copy-paste output in the original comment in this thread.

[2016-03-17 20:41] rbarlow commented on #166
Doing this makes the tests go about 21% faster. However, I still observed quite a few new ssh connections being established even with these settings. Additionally, I don't think users should have to configure ssh for this to work, especially since they may often test temporary hosts that don't have names, or that have ephemeral names. It would be ideal if pulp-smash automatically set up connection

[2016-03-17 21:44] omaciel commented on #166
I fully agree with what you said @rbarlow :-)

[2016-03-18 13:39] Ichimonji10 commented on #166
Do you have any insights into why? Is it because the sample `ControlPersist` times I've given above (five minutes and thirty seconds, respectively) are too short? Or something else?

Python SSH libraries are out. We looked in to Paramiko, Fabric and Ansible, and none are viable. We've discussed this extensively in #32.

SSH configuration is unavoidable. At a bare minimum, users must configure SSH

[2016-03-18 18:38] rbarlow commented on #166
"Let's burn that bridge when we get to it." Our supported operating systems do not have this problem, and having people do a lot of configuration work will take *real time*, all in an effort to avoid something that would take *theoretical time*. Let's take the action that will let us all do our jobs faster instead of focusing so much on the "what if this weird edge case that will probably not happ

[2016-03-18 23:30] Ichimonji10 commented on #166
Ah, yes. Pulp is only supported in a limited number of environments, and we don't care about other platforms or interesting user configurations, by it or other applications, presumably now or in the future. *sigh*

By hard-coding CLI SSH options into our application, we are creating an application that is unable to work in a variety of environments. One is where the target system disallows connect

[2016-03-19 16:43] rbarlow commented on #166
It is not currently required to have an ssh config to use pulp-smash. I created the file when I tried your suggestion above. I was running pulp-smash against a remote computer without one before. So it's not an existing workflow for many real world user cases. Your position is sacrificing real world use cases for imaginary ones.

Spending time thinking about edge case uses when there are no known

[2016-03-21 14:04] Ichimonji10 commented on #166
Being able to log in to a remote system without an SSH config requires that the local and remote users have the same name, and that the SSH key for login is password-less or available via an SSH agent. Given this (and my own experiences), I disagree with the notion that the existence of an SSH configuration file is an imaginary or uncommon use case.

First, the solution of "try these arguments, th

[2016-03-21 19:34] Ichimonji10 commented on #72
Fixed by 12bb39ee7eb959c252d4217b0d70b3338833f182

[2016-03-21 19:34] #72 closed

[2016-03-22 16:00] elyezer commented on #112
@asmacdo I have reviewed everything added by referenced commit as well as other test modules and Pulp Smash have equivalent tests for what is listed on the link you shared.

Most of the tests are covered by https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/api_v2/test_schedule_sync.py and test for getting the history is available at  https://github.com/PulpQE/pulp-smash/blob/ma

[2016-03-22 16:00] #112 closed

[2016-03-22 17:24] #127 closed

[2016-03-23 15:46] asmacdo opened #173 "Improvements to test skipping logic"
Redmine contains a "target platform release" field. Smash's `bug_is_untestable` logic should be aware of this field so bugs that have been moved to `ON_QA` or `VERFIED` are not run on older versions of Pulp.

An additional improvement in this area would be to get a dump of all bugs that are now testable and their target platform release to avoid making another http request to redmine for each bug.

[2016-03-23 16:55] Ichimonji10 commented on #166
I spent a bit more time reading up on SSH multiplexing. (I was prompted by some benign multiplexing errors, interestingly enough.) I happily rediscovered the `-o` option provided by the client, and tested them with this script:

[code]

It works well. Given this, we could default to inserting these options into SSH commands:

    -o ControlMaster=auto -o ControlPersist=5m -o ControlPath=$XDG_RUNTI

[2016-03-23 17:45] bmbouter commented on #173
Given that every bug fix is merged forward the order releases are created shouldn't matter. Even if a bug was fixed in 2.7.2 and 2.7.2 was not released I expect the test to run in 2.8.0. This is also true if 2.7.2 is released after 2.8.0 is released. We shouldn't ever have two active Z stream releases otherwise we'll have to do "diamond" merges which we don't want to do.

Let's not use --contains

[2016-03-23 19:37] Ichimonji10 commented on #173
See https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:173 for a possible solution. Here's a copy of the commit message.

-----

Respect the target_platform_release bug field

Usage:

    False

    False

    True

    True

    True

    True

    True

In a test method, usage would look like this:

    def test_some_bug(self):
        if bug_is_untestable(1743, self.cfg.version):

[2016-03-24 20:00] #152 closed

[2016-03-25 18:52] Ichimonji10 commented on #36
@elyezer, I believe you're working on this, so I'm assigning you.

[2016-03-28 15:59] #173 closed

[2016-03-28 18:53] #114 closed

[2016-03-29 12:09] elyezer commented on #36
@Ichimonji10 you are completely right. I'm gonna handle this task. Thanks for assigning me.

[2016-03-29 18:32] #131 closed

[2016-03-30 20:45] rbarlow opened #182 "The docker tests are not skipped when the docker plugin is not installed"
I noticed that the OSTree tests all skip if the OSTree plugin is not installed. It would be nice if the Docker tests also did this. Thanks!

[2016-03-30 20:46] Ichimonji10 commented on #182
We skip tests very inconsistently. All the modules should be reviewed before closing this bug.

[2016-03-31 20:49] asmacdo commented on #61
OStree is not entirely covered, but I am done with my addition.

[2016-04-01 13:27] Ichimonji10 commented on #61
Thanks for the addition, @asmacdo. :+1:

[2016-04-05 20:00] bowlofeggs opened #183 "[RPM] Test the --checksum-type repository feature"
RPM repositories have a feature that allows the user to request a particular checksum type to be used during repository publish. Unfortunately, this feature has never worked consistently from release to release, which is why Pulp issue 1618 was filed:

https://pulp.plan.io/issues/1618

pulp-smash could perform the following tests:
1. Create a repository with the checksum type set to type A and a f

[2016-04-06 14:00] preethit opened #184 "Repo Search"
Test to make sure that repo search works with filters.

1. Create multiple repos (repo1, repo2)
2. Search the repo with different filters

pulp-admin rpm repo search --fields id --str-eq="id=repo1"

https://pulp.plan.io/issues/1784

There a separate issue for content search. We could merge this one with that but still wanted to make sure this case get captured as well.
https://github.com/PulpQE/pu

[2016-04-06 17:21] #125 closed

[2016-04-07 15:46] jeremycline opened #185 "Test kickstarting from Pulp repositories"
It would be cool to have tests that kickstart from Pulp repositories. This takes a while so maybe it should be run outside of the 'normal' test suite. Kickstart files could be prepared with various settings and then repositories with distribution trees[0][1][2][3][4][5] could be synced (immediate, background, on_demand) and kickstarted from in a VM.

[0] https://cdn.redhat.com/content/dist/rhel/se

[2016-04-08 13:26] preethit opened #187 "Test Migration of content from /var/lib/pulp"
This is a one off case. Not sure if this the place for it as  this needs a combination of tests.
https://pulp.plan.io/issues/1601

Tests that is needed for this issue
1. Upgrade testing
2. Regression tests for each of the plugin

[2016-04-08 13:54] preethit opened #189 "ConnectionError was caused by "[Errno 2] No such file or directory- On-demand policy"
https://pulp.plan.io/issues/1771
1. Start or restart the pulp_streamer
2. Make a request directly to the streamer for a file that requires a client certificate: something like `http://127.0.0.1:8751/var/lib/pulp/content/units/rpm/hex[:2]/hex[2:]/filename.rpm`
   (`curl -O http://127.0.0.1:8751/var/lib/pulp/content/units/rpm/66/0e7bf17e1bd386dcd61759fd2822cb01ab396b13d69f33a3e6b5d67ce29ff6/389-ds-b

[2016-04-08 17:35] preethit opened #190 "Retain old repodata on re-publish"
Test to make sure that old repodata is retained until the time specified
1. Create a repository and set its `metadata_retention_days` to a non-zero value. (The default is zero.)
2. Sync the repository.
3. Sync the repository again. Ensure repository metadata hasn't changed.

https://pulp.plan.io/issues/1684

[2016-04-11 18:28] asmacdo commented on #133
The use of the CLI here is helpful, but we will also need to use the API directly.

There was a regression recently resulting from unit searches. A test to catch this problem would be helpful.

Test Case:

1. Create and sync the zoo repository from feed
2. Check the "_id" field of a unit
3. Use this search:
 `http --verify no --auth admin:admin POST https://localhost/pulp/api/v2/content/units/erra

[2016-04-12 13:59] elyezer commented on #113
The related PR is merged, we are safe to close this.

[2016-04-12 13:59] #113 closed

[2016-04-12 14:13] elyezer commented on #122
Had an IRC chat session with @Ichimonji10 and have clarified the following:

Both `api.safe_handler` and `api.json_handler` call `_handle_202`, which calls `_check_call_report` and `_check_tasks`. _check_tasks() ensures that each task's "error", "exception" and "traceback" fields. Given that, there's no reason to also check those fields in unit tests.

[2016-04-12 14:38] Ichimonji10 commented on #122
Thanks for clarifying.

[2016-04-12 17:01] #182 closed

[2016-04-12 20:05] Ichimonji10 commented on #102
[Pulp issue 1642](https://pulp.plan.io/issues/1642) is fixed in the current Pulp 2.8 release. It's reliable enough that, as of c9825e545993d871413b83bf88728cd6df05eff8, we now depend on Pulp to correctly report which plugins are installed. Closing.

[2016-04-12 20:05] #102 closed

[2016-04-12 20:07] Ichimonji10 commented on #84
[Pulp issue 1642](https://pulp.plan.io/issues/1642) is fixed in the current Pulp 2.8 release. It's reliable enough that, as of c9825e545993d871413b83bf88728cd6df05eff8, we now depend on Pulp to correctly report which plugins are installed. Closing.

[2016-04-12 20:07] #84 closed

[2016-04-12 20:30] Ichimonji10 commented on #146
I can run the full Pulp Smash test suite on Fedora 22 (Python 3.4.2), Fedora 23 (Python 3.4.3) and my personal system (Python 3.5.1), and am unable to reproduce this issue. Pending further information to the contrary, I will assume that the issue lies with the Pulp development environment mentioned in the opening comment. Please re-open if there's some evidence that this issue lies with Pulp Smash

[2016-04-12 20:30] #146 closed

[2016-04-12 20:35] Ichimonji10 commented on #61
We have OSTree tests in the following modules:

* [`pulp_smash.tests.ostree.api_v2.test_crud`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.ostree.api_v2.test_crud.html)
* [`pulp_smash.tests.ostree.api_v2.test_sync_publish`](http://pulp-smash.readthedocs.org/en/latest/api/pulp_smash.tests.ostree.api_v2.test_sync_publish.html)

The tests cases therein CRUD, sync and publish OSTr

[2016-04-12 20:35] #61 closed

[2016-04-13 19:54] Ichimonji10 opened #198 "Test whether package groups can be created"
One can create something called a "package group" via the CLI and API. This is a new feature due out in Pulp 2.9. Let's write up a pair of CLI and API tests to ensure it works out of the gate.

Documentation explaining how to create a package groups via the CLI is listed here: https://github.com/pulp/pulp_rpm/pull/839/files

The user story for this feature is here: https://pulp.plan.io/issues/1003

[2016-04-13 19:55] Ichimonji10 opened #199 "Test whether package groups can be copied between repositories"
#198 should be fixed before this issue.

One can copy package groups between repositories, via both the CLI and API. This is a new feature due out in Pulp 2.9. Let's write up a pair of CLI and API tests to ensure it works out of the gate.

Documentation explaining how to copy a package groups via the CLI is listed here: https://github.com/pulp/pulp_rpm/pull/839/files

The user story for this featu

[2016-04-14 13:16] Ichimonji10 commented on #183
Implementing this test would let us cover https://pulp.plan.io/issues/1822

[2016-04-14 14:39] Ichimonji10 commented on #183
Tagging as "high priority" because this issue relates to Pulp 2.9.

[2016-04-14 14:39] Ichimonji10 commented on #189
Tagging as "high priority" because this issue relates to Pulp 2.9.

[2016-04-14 14:39] Ichimonji10 commented on #198
Tagging as "high priority" because this issue relates to Pulp 2.9.

[2016-04-14 14:39] Ichimonji10 commented on #199
Tagging as "high priority" because this issue relates to Pulp 2.9.

[2016-04-14 18:58] Ichimonji10 opened #201 "Add a "scripts" directory"
Let's create a top-level directory named `scripts` and move `gen_api_docs.sh` (added by #197) and `release.sh` into it. This directory can also serve as the home for any future scripts we might want to add.

[2016-04-14 18:59] #18 closed

[2016-04-14 19:30] Ichimonji10 opened #204 "Fix RTD API docs"
The API documentation is not listed on Read The Docs right now. This bug was likely introduced by #197. A possible solution is to move `gen_api_docs.sh` to `docs/gen_api_docs.py` (note the file extension change) and ensure the script is called by the appropriate targets in `docs/Makefile`.

This obsoletes #201.

[2016-04-14 19:31] Ichimonji10 commented on #201
See #204. If that issue is fixed, we will have only one script in the root directory. At this point, there are still no plans to create more scripts.

[2016-04-14 19:32] Ichimonji10 commented on #204
A good rubric for whether this issue is fixed is whether one can execute `cd docs && make html`.

[2016-04-15 13:36] Ichimonji10 commented on #201
I closed this issue prematurely. (I got thrown by #204, I think.) Re-opening.

[2016-04-15 15:12] #201 closed

[2016-04-15 15:30] Ichimonji10 commented on #204
This is still an issue. Why? Because RTD doesn't use make files. They [explain](https://read-the-docs.readthedocs.org/en/latest/builds.html#understanding-what-s-going-on) it well:

So, if RTD ignores make files, then it seems the only way to proceed is to some how make `sphinx-build` itself generate the API docs.

[2016-04-15 18:03] Ichimonji10 opened #207 "Sync a Puppet Module From the Puppet Forge"
Add a new Puppet test in which we make Pulp sync a Puppet module from the Puppet forge.

See: https://pulp.plan.io/issues/1846

[2016-04-15 18:05] Ichimonji10 commented on #183
Following some feedback from the Pulp developers, I'm dropping the priority of this issue.

[2016-04-15 18:06] Ichimonji10 commented on #189
Following some feedback from the Pulp developers, I'm dropping the priority of this issue.

[2016-04-15 18:19] Ichimonji10 commented on #90
This is tested by module `pulp_smash.tests.rpm.api_v2.test_remove_unit`.

[2016-04-15 18:19] #90 closed

[2016-04-19 18:57] #204 closed

[2016-04-20 11:49] ipanova opened #214 "reboot_suggested is False by default if during errata upload there was not specified any value."
1. Upload errata into a repo and don't specify any value for 'reboot_suggested'
2. Publish repo
3. Check the updateinfo.xml --> reboot_suggested tag should not be None but False.

see: https://pulp.plan.io/issues/1782

[2016-04-20 15:08] #214 closed

[2016-04-21 20:20] #207 closed

[2016-04-22 19:54] #161 closed

[2016-04-22 22:01] elyezer commented on #161
:tada:

[2016-04-25 15:52] Ichimonji10 commented on #81
One can upload Docker v2 content to a Pulp repository, and as soon as we find a place to host a docker image tarball, we can implement that test. See: http://pulp-docker.readthedocs.org/en/latest/user-guide/recipes.html#upload-v1-images-to-pulp

One cannot upload Docker v2 content directly into a Pulp repository. See: http://pulp-docker.readthedocs.org/en/latest/user-guide/concepts.html#upload

Th

[2016-04-25 15:59] Ichimonji10 commented on #198
As per conversations with the devs, simply expanding the test suite to provide a greater degree of regression testing is more important than adding tests for upcoming features. This test depends on a feature that isn't out yet, and is slated for release until version 2.9, so I'm dropping the priority on this issue.

[2016-04-25 15:59] Ichimonji10 commented on #199
As per conversations with the devs, simply expanding the test suite to provide a greater degree of regression testing is more important than adding tests for upcoming features. This test depends on a feature that isn't out yet, and is slated for release until version 2.9, so I'm dropping the priority on this issue.

[2016-04-27 12:34] elyezer commented on #81
Would be fedora people a good place to host the image tarball?

[2016-04-27 14:18] Ichimonji10 commented on #81
I'd love it if we could do that. We're already hosting static RPMs there. Why not static tarballs too?

By the way, this seems highly related to #221. The process for generating the Docker tarball is:

[code]

It's simple, but having those steps saved would be *great* from a reproducibility standpoint.

Maybe we should push these tools into a `pulp-smash-fixtures` repository? Both #221 and a docke

[2016-04-28 19:57] Ichimonji10 commented on #81
I've created a new repository, [Pulp Fixtures](https://github.com/PulpQE/pulp-fixtures). That repository has a make target for creating Docker fixtures, `make docker`. I make use of the fixture in my Docker duplicate upload tests, which can be found in my https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:dup-up branch.

As soon as we can host the output of `make docker` somewhere,

[2016-04-28 20:33] elyezer commented on #81
I will try to create a job that uploads the docker and RPM bits to fedorapeople.

[2016-04-28 20:48] Ichimonji10 commented on #81
:+1: Thank you.

[2016-04-29 19:41] Ichimonji10 opened #224 "Add support for testing a Pulp agent"
An "agent" can be installed on a system. This agent allows Pulp to send commands to that system. See: http://pulp.readthedocs.io/en/latest/dev-guide/architecture.html We should be able to test interactions between a consumer (a system with an agent) and a Pulp server.

Let's build out support for this scenario. One option is to change how we use the `settings.json` file. (The file is badly named.

[2016-05-02 16:42] elyezer commented on #224
Should we care about having more than one agent? If yes then we should consider expecting a list of agents or maybe make the settings smart and expect either a list or a dict for multiple and single scenario respectively.

[2016-05-03 16:48] Ichimonji10 commented on #224
Yes, I did consider that possibility. It may be useful to be able to work with more than one agent, and that possibility is left open. That said, making `pulp_smash.settings` smart enough to deal with lists of configurations is a change in semantics that, I think, will introduce some complications.

Code that currently interacts with the `settings.json` file assumes that the file uses a simple lab

[2016-05-03 21:05] elyezer commented on #224
@Ichimonji10 it makes completely sense. Thanks for explaining how the server config works.

[2016-05-04 01:09] Ichimonji10 commented on #224
@elyezer I'm glad it makes sense. I hope it's also a good direction for development. :smile:

[2016-05-04 01:32] elyezer commented on #224
We still have the option to rethink this when more than one agent is needed, until then we are good with the current approach.

[2016-05-04 01:45] Ichimonji10 commented on #224
**Soft**ware. It's in the name. :wink:

[2016-05-04 15:24] #224 closed

[2016-05-04 21:16] #81 closed

[2016-05-04 21:22] #107 closed

[2016-05-05 12:14] preethit opened #230 "Test Switching a repository to immediate from on_demand can download its packages"
1. Create a repository with on_download policy
2. Run repo sync
3. Check the file system to make sure that the content is not downloaded
4. Update the repository to change the the download policy to immediate
5. Run repo sync
6. Assert that the content in downloaded

[2016-05-05 12:34] preethit opened #231 "Test that repository with on_demand or background download policies can not be exported"
1. Create a repository with immediate download policy
2. Run repo sync
3. Export the repo
4. Assert that the repo is exported
5. Create a repository with on_demand download policy
6. Run repo sync
7. Export the repo
8. Assert that appropriate error message is displayed
9. Assert that the repo is not exported
10. Create a repository with background download policy
11. Run repo sync
12. Export the r

[2016-05-05 13:17] ipanova opened #232 "Publish should be a no-op if no units and no settings have changed since the last publish"
Test that Publish should be a no-op if all of the following are true:
- no units have been added since the last successful publish.
- no units have been removed since the last successful publish.
- no distributor has been modified since the last successful publish.

For more info check https://pulp.plan.io/issues/1724
There is already implemented one test that is related #127 but i think that test

[2016-05-05 19:13] bmbouter opened #233 "Langpacks sync and Publish verification"
The zoo repo on fedorapeople contains a `repodata/comps.xml` file in which contains a specification for [langpacks which got added with Pulp 2.9.0](http://www.pulpproject.org/2016/05/05/langpacks-support-added-to-pulp-2-9-0/).

To accomplish this test:
1. Sync a zoo repo with the feed: `https://repos.fedorapeople.org/repos/pulp/pulp/fixtures/rpm/`
2. Verify that the published comps.xml contains th

[2016-05-05 19:17] bmbouter opened #234 "Langpacks Uploaded through comps.xml Verification"
Langpacks can be uploaded via a comps.xml file. This file should create and associate a langpacks unit with the repo. For example if you use this as the comps.xml:

[code]

You should be able to upload the package langpacks unit with:

[code]

You can verify that the package langpacks unit is on the repo with:

[code]

The feature story:  https://pulp.plan.io/issues/1367
Pulp's pulp-admin [langpac

[2016-05-05 19:21] bmbouter opened #235 "Langpacks uploaded via pulp-admin definition on command line"
You can also upload a package langpacks definition as a generic unit. You define it with pulp-admin such as:

[code]

You can verify it's added to the repo with:

[code]

You can verify it's defined correctly with:

[code]

This is not a test for pulp-admin and its correctness, but the underlying URL and POST data used to create the unit without uploading it through a comps.xml file.

The feature

[2016-05-06 11:13] goosemania opened #237 "Test that errata metadata is updated when needed"
Erratum metadata can be updated during sync or upload of the erratum (with the same id).
The decision to update it or not is made based on the `updated` field of the erratum.
The expected format for `updated` field is `'%Y-%m-%d %H:%M:%S UTC'` (UTC is optional).

Suggestions for the tests:
-  the erratum is updated if `updated` field indicates that the synced or uploaded erratum is newer
-  the er

[2016-05-09 10:03] ipanova opened #239 "Test display_order default value"
https://pulp.plan.io/issues/1787
https://github.com/pulp/pulp_rpm/pull/866
Test that during upload of package group/category/environment  default value of  `display_order`( if not specified) is 1024.

[2016-05-10 15:18] ipanova opened #241 "Assert that name of puppet module stored in pulp is the same no matter how it arrived in pulp"
https://pulp.plan.io/issues/1879
https://github.com/pulp/pulp_puppet/pull/230

Assert that module X would have same name if it was:
- synced from remote source( like puppet forge)
- synced from filesystem
- uploaded.

[2016-05-11 10:05] goosemania opened #243 "Test that content removed from a repository returns back after the next sync"
1. Create a repository.
2. Sync it.
3. Remove some content.
4. Sync again.
5. Check that removed units are back in the repository.

Pulp issue: https://pulp.plan.io/issues/1775
This issue was for RPM plugin only, but maybe it is good to test all plugins.

[2016-05-13 16:34] #239 closed

[2016-05-13 18:41] Ichimonji10 commented on #167
`test_location_header` and `test_headers_location` have been updated to be more standards-compliant in #180. I've been unable to reproduce `test_app_file_url`, except in nodepool, where nodepool itself is the culprit and we've hacked around its failings. Please re-open if these issues are still occurring.

[2016-05-13 18:41] #167 closed

[2016-05-16 13:07] Ichimonji10 commented on #36
See: https://github.com/pulp/pulp_packaging/pull/157

[2016-05-16 20:49] elyezer commented on #36
I have covered most of the items on https://github.com/pulp/pulp_packaging/pull/157. What is missing is just running the regression tests.

[2016-05-17 16:48] preethit opened #255 "Langpacks copied via pulp-admin on command line"
You can copy langpacks between repositories. You define it with pulp-admin such as:

    pulp-admin rpm repo create --repo-id repo_1
    pulp-admin rpm repo uploads langpacks -i gorilla-%s -n gorilla-en -i zebra-%s -n zebra-docs --repo-id repo_1

You can verify it's added to the repo with:

    pulp-admin rpm repo list --repo-id  repo_1

You can verify it's defined correctly with:

    pulp-admin

[2016-05-17 18:02] preethit opened #256 "Orphan remove by type can remove langpacks"
To accomplish this test:

1. Sync a zoo repo with the feed: https://repos.fedorapeople.org/repos/pulp/pulp/fixtures/rpm/
2. Delete the zoo repo
3. List orphan
4. Orphan remove --type

[2016-05-18 01:02] Ichimonji10 opened #257 "Remove orphaned content units by type"
https://github.com/PulpQE/pulp-smash/issues/134 asks for tests to be written that verify Pulp correctly handles requests to the orphan API calls. We can do that by writing tests that touch everything listed [here](http://pulp.readthedocs.io/en/latest/dev-guide/integration/rest-api/content/orphan.html).

One of the orphan API calls allows you to delete all orphans of a particular type by calling DE

[2016-05-18 12:25] Ichimonji10 commented on #256
See: https://github.com/PulpQE/pulp-smash/issues/257

[2016-05-18 12:25] #256 closed

[2016-05-18 17:47] elyezer commented on #256
:+1:

[2016-05-18 19:17] #134 closed

[2016-05-19 19:15] Ichimonji10 commented on #104
We've solved the bulk of concerns raised in this thread by creating pulp fixtures, using Jenkins to generate fixtures and upload them to https://repos.fedorapeople.org/pulp/pulp/fixtures/, and then referencing them via https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/constants.py.

[2016-05-19 19:16] #104 closed

[2016-05-20 19:33] preethit opened #264 "Test rsync distributor can be used to publish RPM"
https://pulp.plan.io/issues/1759
The rsync_distributor will afford users of RPM's yum_distributor to publish repositories published by the yum_distributor to any server that supports key based ssh communication. The rsync_distributor will limit the units published by only publishing units associated with the repository before the date of the last publish of the yum_distributor.

The order of publi

[2016-05-23 19:29] elyezer opened #266 "Run pulp-smash on upgraded machines"
The current upgrading automation just do some sanity check on the content that was available before the upgrade. As an improvement pulp-smash should be run against the upgraded system to make sure it is fully functional.

[2016-05-23 19:30] elyezer commented on #36
This task is completed. I've opened #266 for further improvements.

[2016-05-23 19:30] #36 closed

[2016-05-23 19:35] Ichimonji10 commented on #266
Can you expand on this issue a little bit? In my mind, I imagine that when upgrade tests run, the following occurs:

1. A Jenkins job creates a VM. If that succeeds,
2. The Jenkins job installs Pulp version X. If that succeeds,
3. The Jenkins job upgrades Pulp from version X to version X + 1. If that succeeds,
4. The Jenkins job performs some sanity checks. If those pass,
5. The Jenkins job runs t

[2016-05-23 19:39] elyezer commented on #266
The steps are all correct, there is no change needed on Pulp Smash. I opened this issue here to track the progress since on pulp_packaging where the jobs lives right now.

Basically what is missing is the step 5, which is the goal of this issue.

If you think here is not a good place to this task live I can move somewhere.

[2016-05-23 19:42] Ichimonji10 commented on #266
This works fine. It's just good to know exactly what needs to be done to satisfy this issue. Thanks for the clarification.

[2016-05-23 19:53] elyezer commented on #266
@Ichimonji10 thanks for the feedback, my description was open and you helped me making it clear what needs to be accomplished here.

[2016-05-24 18:18] Ichimonji10 commented on #133
Here are the content types advertised by a current Pulp 2.8.3 system:

[code]

A Pulp master (2.9.0) system advertises the same set of content types, plus `package_langpacks`. I'm wondering if the list of types advertised by this issue should be expanded to include these items. I'm also wondering if some of the extra types listed above should be removed, such as metafile.

[2016-05-24 18:33] jeremycline opened #269 "Perform Forge-style puppet syncs where content units already exist in Pulp"
This is from https://pulp.plan.io/issues/1937

The problem boiled down to the importer recognizing the content was already in Pulp, but failing to associate it with the repository.

The test steps would be as follows:

1. upload or sync a module to repo1
2. perform a sync on repo2 against a forge-style repository (one with a modules.json file) that includes the module from 1.
3. Assert the module

[2016-05-24 20:14] Ichimonji10 commented on #269
Thanks for the clear explanation and the steps for reproducing. This looks easy to implement as an automated test case...

[2016-05-25 12:33] Ichimonji10 commented on #233
Pulp Fixtures now lists langpacks in its `comps.xml` file. See: https://github.com/PulpQE/pulp-fixtures/blob/master/rpm/assets/comps.xml#L60-L63

Two tests have langpack-specific logic in their assertions, `pulp_smash.tests.rpm.api_v2.test_orphan_remove.OrphansTestCase` and `pulp_smash.tests.rpm.api-v2.test_download_policies.FixFileCorruptionTestCase`. Here's a (trimmed) sample of relevant code:

[2016-05-25 13:50] bmbouter commented on #233
@Ichimonji10 It's so great that I can write a github issue and it gets implemented. Wow!

If I understand this, the unit count is being asserted to include the new one for langpacks. It would be good to also assert that the published comps.xml which is downloaded from the server contains the same [snippet of fixture data](https://github.com/PulpQE/pulp-fixtures/blob/master/rpm/assets/comps.xml#L60

[2016-05-25 14:46] preethit opened #270 "Test Langpacks Can be Removed"
Create repo a repo

    $pulp-admin rpm repo create --repo-id=repo_1

Upload langpacks

    $ pulp-admin rpm repo uploads langpacks -i hyphen -n hyphen-%s --repo-id repo_1

List the repo
[code]

Remove langpacks

[code]

[2016-05-25 18:38] Ichimonji10 commented on #233
Yes, that's correct. I've improved tests for this in #271.

Let's say I create a repository with a feed of https://repos.fedorapeople.org/repos/pulp/pulp/fixtures/rpm/, sync the repository, create a distributor, and publish the repository. At this point, I can get a `comps.xml` file from a URL such as `https://pulp.example.com/pulp/repos/d4b92791-8ea8-4abb-b25f-900cbff22ad1/repodata/abc123-comps.x

[2016-05-25 19:16] bmbouter commented on #233
@Ichimonji10 Yes, you've stated it perfectly.

[2016-05-26 09:04] ipanova commented on #232
One more corner case would be good to test when some values where specified in the override_config of the current publish - at this point publish should be operational.

[2016-05-26 13:21] Ichimonji10 commented on #133
I think the content types mentioned in the original issue map to the following
content types returned by Pulp:

* distribution → `distribution`
* drpm → `drpm`
* environment → `package_environment`
* errata → `erratum`
* group → `package_group`
* metafile → `yum_repo_metadata_file`
* rpm → `rpm`
* srpm → `srpm`

Consequently, I'm updating the list of content types for which searches should
be writ

[2016-05-26 16:46] #233 closed

[2016-05-26 19:59] #184 closed

[2016-05-27 16:39] Ichimonji10 opened #276 "Add a "how to read & write tests" section to Pulp Smash"
The Pulp Smash documentation has "installation," "usage," "about" and "API documentation" sections. One thing that's sorely lacking is a primer explaining how to read the existing tests and how to write new ones. This would be targeted at folks who are unfamiliar with Pulp Smash, or who are occasional contributors. To a lesser extent, it'd be targeted at anyone unfamiliar with Python unit testing.

[2016-05-27 16:40] Ichimonji10 commented on #276
One way to accomplish this would be to add a new section to the documentation.

Another intriguing possibility is to heavily comment a module of code, and then to link to it from the documentation. This has the advantage of making the comments more concrete, and of making it easier for the comments to be in sync with the code base.

[2016-05-30 11:54] ipanova opened #277 "Puppet module upload should succeed when module's name is in format author/name( in metadata.json)"
1. create puppet repo
2. upload puppet module A( make sure that in module's metadata.json name is in format 'author/name')
3. upload puppet module B( make sure that in module's metadata.json name is in format 'author-name')
4. Check that both modules we successfully uploaded and there are no tracebacks in the logs.

https://pulp.plan.io/issues/1950
https://github.com/pulp/pulp_puppet/pull/235

[2016-05-31 15:43] ipanova opened #279 "Assert then YumMetadataFile copy save its new storage_path."
1. create  repo A
2. sync from a feed or upload yum_metadata_file
3. create repo B
4. copy yum_metadata_file from repo A to B
5. publish repo B
6. remove yum_metadata_file from repo A
7. remove orphans
8. publish repo B again ---> publish should succeed

for more info check https://pulp.plan.io/issues/1944
https://pulp.plan.io/issues/1935#note-5
https://github.com/pulp/pulp_rpm/pull/895

[2016-06-01 16:22] #276 closed

[2016-06-01 17:49] preethit opened #284 "Test Repository create and sync through proxy CLI"
Create a repository with the proxy options

Feed Proxy
  --proxy-host - proxy server url to use
  --proxy-port - port on the proxy server to make requests
  --proxy-user - username used to authenticate with the proxy server
  --proxy-pass - password used to authenticate with the proxy server

$ pulp-admin rpm repo create --repo-id proxy-sync --feed https://repos.fedorapeople.org/repos/pulp/pulp/fi

[2016-06-01 18:10] omaciel commented on #284
@preethit what are the assertions you're looking for? I can assume that you'd want:
* assert that repos are successfully created
* assert that repos are successfully synchronized

Anything else? Perhaps that one can consume them?

[2016-06-01 19:24] preethit opened #285 "Test Repository create and sync through proxy by placing the config file"
Use the proxy setting in the config file
For Docker example
/etc/pulp/server/plugins.conf.d] # cat docker_importer.json
{
        "proxy_host": "http://proxy.example.org",
        "proxy_port": 8080,
        "proxy_username": null,
        "proxy_password": null
}
For rpm
/etc/pulp/server/plugins.conf.d/yum_importer.json
1. Create the the a repository ( Do not use the proxy options in the CLI)
2.

[2016-06-01 20:00] preethit commented on #284
@omaciel the 2 assertions you have mentioned are definitely needed. I will think for a bit more about what else need to be added to the list.

[2016-06-01 21:40] mhrivnak opened #286 "Test publish yum repo with different checksums"
1. create an "rpm" repo in pulp with one or more RPMs, SRPMs, and DRPMs.
2. publish it with the "sha256" checksum type
3. verify publish (see below)
4. publish it with the "sha1" checksum type
5. verify publish (see below)
### Verification

It depends on how fancy and robust you want to get when it comes to inspecting the published XML. You'll need to somehow look at primary, other, filelists, and

[2016-06-01 21:43] mhrivnak opened #287 "Test publish of yum repo with lazy content and unavailable checksum type"
1. Create an "rpm" repo in pulp, and lazy sync (`on_demand` download policy) one or more RPMs, SRPMs, and DRPMs.
2. Note which checksum type they have in their unit keys. They should all be the same.
3. Try to publish using a different checksum type (choices are currently md5, sha1, sha256)
4. Verify that the publish task shows an error explaining that the requested checksums are not available.

[2016-06-02 12:47] goosemania commented on #163
I suggest to add one more criteria to the testing repos:
-  name of the collections in the same erratum in different repositories should be the same.

This is needed to test [this bug](https://bugzilla.redhat.com/show_bug.cgi?id=1302663) which was mentioned [here](https://pulp.plan.io/issues/1783).

[2016-06-02 13:11] goosemania opened #288 "Test that updateinfo.xml contains at least one pkglist with one collection for each erratum"
See [the comment #2 to the errata issue](https://pulp.plan.io/issues/1783#note-2).

1. Create repo and sync it from https://repos.fedorapeople.org/pulp/pulp/fixtures/rpm/
2. Remove gorilla package from the repo to make packages from the Gorilla erratum inapplicable to the repo.
3. Publish the repo. Now in the updateinfo.xml the erratum RHEA-2012:0058 which initially refered to the gorilla package

[2016-06-02 14:57] preethit opened #289 "Test Incremental export works the same format as normal export"
I need to clean this up and break it into tests. Putting it as a place holder.

Allow for new `incremental_export_repomd` exporter distributor config option

Previously, incremental exports were in a custom format where each erratum and
RPM were written to disk, along with a set of JSON files with unit metadata.
This required special handling of incremental imports that was significantly
different

[2016-06-03 12:09] ipanova commented on #232
scenario1
1. create repo with feed, sync, publish
2 assert publish is operational
3 remove unit/add unit/ update distributor's config( like disable publish over http)
4 publish
5 assert publish is operational

scenario2
1 create sync repo, publish
2 assert publish is operational
3 publish repo and set override config
4 assert publish is operational

[2016-06-03 18:28] mhrivnak opened #291 "Export yum repo with specified checksum"
As of pulp 2.9, you will be able to configure the "checksum_type" on the yum export distributor. A basic test:

1. create a yum repo and add some content
2. set the "checksum_type" on the yum distributor to a checksum type that is not in the unit key for content in the repo
3. publish with the export distributor
4. verify that the published data uses the checksum type you specified

[2016-06-03 18:29] mhrivnak opened #292 "Export yum repo group with specified checksum"
As of pulp 2.9, you will be able to configure the "checksum_type" on the yum repo group export distributor. A basic test:

1. create a yum repo and add some content
2. create a repo group and add the above repo
3. set the "checksum_type" on the yum group distributor to a checksum type that is not in the unit key for content in the repo
4. publish with the group export distributor
5. verify that th

[2016-06-03 20:02] Ichimonji10 commented on #266
Any update on this?

[2016-06-03 20:10] Ichimonji10 commented on #292
Related to #286.

[2016-06-03 20:11] Ichimonji10 commented on #291
Related to #286.

[2016-06-03 20:17] Ichimonji10 commented on #288
When implementing this test, consider taking a look at https://repos.fedorapeople.org/pulp/pulp/fixtures/rpm/repodata/. If you open and decompress the `...-updateinfo.xml.gz` file, you'll see this:

[code]

In addition, make sure to hunt around through the existing `utils` modules for utility function. For example, the `get_repomd_xml` and `get_repomd_xml_href` functions also deal with munging pat

[2016-06-06 09:39] midnightercz commented on #232
Tests in #290
scenario3 covered with NOOPTestCase1
scenario1 coverred with NOOPTestCase2
scenario2 seems to be subset of scenario3

[2016-06-07 11:45] ipanova commented on #292
Maybe will worth to also add a test with invalid checksum_type specified.

[2016-06-07 11:47] ipanova commented on #291
Maybe will worth to also add a test with invalid checksum_type specified during:
- publish
- update of the repo

[2016-06-07 20:00] #232 closed

[2016-06-07 21:57] danuzclaudes commented on #269
@Ichimonji10 Thank you for the comments!

While trying to extract the content-unit-counts for each repository, I found out a very subtle detail of this issue. The very first repository, at a clean state of db, would have counts as:
[code]

However, for the rest of repositories, they would only have counts as:
[code]

And **even all those repositories are all deleted, the following new repos would

[2016-06-08 14:08] goosemania opened #295 "Test the `repoview` option for the yum_distributor"
`repoview` is an option which can be enabled in the config for the `yum_distributor`, it requires the `generate_sqlite` option to be enabled, because sqlite files are used by the repoview tool.
If `repoview` is enabled, there will be an additional step responsible for the generation of the HTML files during publish.
As for the browsing, the HTTP request will be redirected to show a repoview conten

[2016-06-08 14:09] dkliban opened #296 "Manage content on consumer"
Pulp is able to manage content installed on registered consumer. Tests are needed to make sure that
- A consumer can register with pulp-server using 'pulp-consumer' commands.
- A repository can be bound to a consumer using 'pulp-consumer' command.
- API can be used to install individual packages on consumer.
- API can be used to uninstall package on consumer
- API can be used to install Errata on

[2016-06-08 17:23] Ichimonji10 commented on #295
What's an example of a URL that should not trigger a redirect?

What's an example of a URL that should trigger a redirect?

[2016-06-08 18:13] goosemania commented on #295
The same URL when you try to access your published repo, e.g.  https://localhost/pulp/repos/your_repo/
If repoview content is available you will observe redirect, if not - no redirect.

[2016-06-09 15:47] Ichimonji10 commented on #269
Fixed by #293.

[2016-06-09 15:47] #269 closed

[2016-06-09 20:20] Ichimonji10 commented on #270
Fixed by #298.

[2016-06-09 20:20] #270 closed

[2016-06-10 13:44] preethit opened #300 "Test that rpms can be published to custom directory"
https://pulp.plan.io/issues/1976

Test that a separate directory can be specified where packages can be published.

Context
There was decision made in the past which led to this split (repodata and packages in separate directory) and that's why we have to keep this structure compatible. Although we have some repositories where repodata are in the same directory as packages. I don't know historical

[2016-06-10 14:01] preethit opened #301 "Test that --force_full is supported in export"
https://pulp.plan.io/issues/1938

Steps
1. Create a repository
2. Sync the repo
3. Export the repo with --force_full option

Assert
1. --force_full  can be set to true
2. --force_full can be set to false
3. --force-full option can be omitted

$ pulp-admin -vv rpm repo export run --repo-id foo --force-full

+----------------------------------------------------------------------+

[2016-06-10 16:06] Ichimonji10 commented on #301
We have a test for the `force_full` API v2 option in module [`pulp_smash.tests.rpm.api_v2.test_force_full`](http://pulp-smash.readthedocs.io/en/latest/api/pulp_smash.tests.rpm.api_v2.test_force_full.html). @preethit, is this existing test satisfactory?

[2016-06-10 16:30] Ichimonji10 commented on #300
Can I get more information about this desired test case? I've read through the following:

* https://pulp.plan.io/issues/1976
* https://github.com/pulp/pulp_rpm/pull/897

However, I'm unclear on:

* Is the new `packages_directory` yum exporter configuration option only available via the API? Or is there a new CLI option too?
* What is the intended effect of this new option? A contrast between what

[2016-06-13 13:52] #255 closed

[2016-06-13 15:15] #291 closed

[2016-06-13 16:33] elyezer commented on #266
I decreased the priority on my task list. I will increase it again probably on next week.

[2016-06-17 13:59] preethit commented on #301
@Ichimonji10 Those tests only seem to cover the --force_full option in publish.

Repo export also has the option and this issue is for that.

[2016-06-17 15:01] Ichimonji10 commented on #301
Ahh. So if [`pulp_smash.tests.rpm.api_v2.test_export`](http://pulp-smash.readthedocs.io/en/latest/api/pulp_smash.tests.rpm.api_v2.test_export.html) were expanded, then that'd fix this issue. Correct?

[2016-06-17 15:39] midnightercz commented on #300
@Ichimonji10 sorry for late response. I think @bmbouter forced me to do also CLI option for that.
When you set this option, your rpms should end in repo/<packages_directory> instead of /repo directory

[2016-06-17 15:44] preethit commented on #301
Yes. That is the one.

[2016-06-17 20:15] danuzclaudes opened #311 "Follow-up issues with Repo creation/copy/publish (1/2)"
This is the 1st follow-up issue after https://pulp.plan.io/issues/1684#change-10578 and Pulp-Smash Issue https://github.com/PulpQE/pulp-smash/issues/190.

As @mhrivnak has pointed out thru his [comments](https://pulp.plan.io/issues/1684#change-10578) as the 5th one, a new test case will be setup as following:

1. create repo1 and sync from upstream.
2. find an RPM that has two different versions i

[2016-06-20 15:24] Ichimonji10 commented on #311
Pulp Smash will never, ever have the ability to set up a client VM.

This test can already be implemented in Pulp Smash, including installing a package on a client.

[2016-06-20 15:28] Ichimonji10 commented on #311
See: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:test-agent-demo

[2016-06-20 15:29] Ichimonji10 commented on #311
Can you update the name of this issue, please? When browsing through the list of issues, it'd be nice to see something like "Test whether Pulp can do foo," instead of "this issue is a follow up to another issue."

[2016-06-20 15:36] danuzclaudes commented on #311
gotcha!

[2016-06-20 16:27] Ichimonji10 commented on #311
AFAIK, Pulp doesn't have any way of issuing commands to clients. My assumption is that the Pulp Smash system would execute commands on `server2` via SSH, using the `pulp_smash.cli.Client` class.

[2016-06-20 19:52] danuzclaudes commented on #190
According to @preethit, this story is still not been added to a sprint.

[2016-06-20 20:25] Ichimonji10 commented on #190
@preethit Do you think this should be removed from @danuzclaudes list of tasks? If so, feel free to take it off.

[2016-06-20 20:39] #243 closed

[2016-06-20 20:39] preethit commented on #190
@danuzclaudes @Ichimonji10 Yes that can be removed as that has not been implemented yet. Will do that now.

[2016-06-21 12:58] Ichimonji10 commented on #190
I've dropped this issue from the [Chongrui - Summer Internship](https://github.com/PulpQE/pulp-smash/milestones/Chongrui%20-%20Summer%20Internship) milestone.

[2016-06-21 13:47] #292 closed

[2016-06-21 18:14] elyezer commented on #311
AFAIK, so far we have tests that involves Pulp components either on the same machine or in multiple (even though the later is not running at the moment).

We also need ability to have machines consuming Pulp content which we can call as being clients and so far there is no machinery in place for that. We can take advantage of the Pulp Smash settings and maybe expect some `client-` entries which wo

[2016-06-22 14:01] Ichimonji10 commented on #311
I think I'm wrong about this. From the Pulp [Installation](http://docs.pulpproject.org/user-guide/installation.html) docs:

[2016-06-22 14:22] Ichimonji10 commented on #311
In my opinion, we should keep VM-management logic out of Pulp Smash.

Right now, Pulp Smash has a pretty well defined interface. Users can tell Pulp Smash what system(s) are available via (by default) a `~/.config/pulp_smash/settings.json` file, and Pulp Smash can choose which tests to run based on what's available. Easy enough. This well defined interface has at least the following benefits:

* P

[2016-06-22 14:45] dralley opened #313 "Docstrings point to pulp.readthedocs.io instead of new docs.pulpproject.org site"
82 matches for "http://pulp.readthedocs.io/" across 30 files

http://pulp.readthedocs.io/ is scheduled to be taken down in 6 days

[2016-06-22 14:54] Ichimonji10 commented on #313
Related: https://github.com/PulpQE/pulp-fixtures/pull/16 :wink:

[2016-06-22 14:55] dralley commented on #313
All instances found by a simple universal search for "http://pulp.readthedocs.io/"

https://paste.fedoraproject.org/383280/66072301/

[2016-06-22 14:56] Ichimonji10 commented on #313
That doesn't work, unfortunately, b/c of:

* Links to alternate domains, like `pulp-rpm.readthedocs.io`
* Links that use `https`

Try `git grep 'http\S*readthedocs.io'`.

[2016-06-22 16:10] preethit commented on #311
Expanding the initial test case.

Note: The pulp-client can be the server itself.

On a pulp-server

1. create repo1 and sync from upstream which has 2 versions of the same rpm

[code]

2. Find an RPM that has two different versions in the repo.

`pulp-admin rpm repo content rpm --repo-id repo1 --str-eq "filename=grinder_test_package-11.0-1.fc14.noarch.rpm"`

3. Create a new repo2, and copy the ol

[2016-06-22 17:56] #313 closed

[2016-06-22 20:57] danuzclaudes commented on #311
Hi folks, thank you all for your notes on this issue. I have updated the commit announcement fyi.

Btw, the test case that I have designed will **install the RPM packages on the same pulp server**, which creates repos, copies RPMs and then publishes the repository to itself. In that case, I don't need extra vms or installing consumers; while it can still verify the publishing. Please let me know i

[2016-06-23 12:14] elyezer commented on #311
Agreed. It is better to leave the vm management outside the test framework. That will also match to the ssh access management which will be external as well, for example:

A tool can create the VM, update the ssh config and Pulp Smash settings and finally start the tests. We need just to define what will be the entry names expected to be the clients (cleanup will be needed because more than one te

[2016-06-23 19:18] #288 closed

[2016-06-28 16:09] preethit opened #319 "Test that pulp can upload package_environments"
https://pulp.plan.io/issues/1003
Test package environments can be uploaded

[code]

[2016-06-30 09:40] goosemania opened #325 "Test that multiple checksums for packages in the erratum are handled correctly"
In Pulp 2.9+ multiple checksums for packages in the erratum should be published correctly.
If the checksum of the [distributor checksum_type](http://docs.pulpproject.org/plugins/pulp_rpm/tech-reference/yum-plugins.html#yum-distributor) is available for the package in the erratum pkglist then such checksum will appear in the published updateinfo.xml, otherwise package will be listed with the best(l

[2016-07-06 14:05] Ichimonji10 commented on #89
@elyezer You had a possible solution for this. Can you summarize the solution here?

[2016-07-06 14:21] elyezer commented on #141
PR #305 is merged. This can be closed.

[2016-07-06 14:21] #141 closed

[2016-07-07 14:00] elyezer commented on #89
Plumbum is designed so it can allow some smart commands piping and I/O redirection using Python's `|`, `>`, `>>` operators but this require that a command instance be created, for example:

[code]

That is great when you are able to define the commands somewhere and then reuse.

On Pulp Smash tests something a basic piping or I/O redirection is needed and instead of creating the command library wi

[2016-07-08 18:47] Ichimonji10 commented on #300
I'm adding this issue to the July 15th milestone because there's been a bit of a ruckus surrounding https://pulp.plan.io/issues/1976, and having a test for that feature request will help prevent additional issues.

[2016-07-08 21:03] danuzclaudes opened #330 "Discussion on Refactoring setup Global Repository in pulp-rpm Automation"
I find this [setUpModule()](https://github.com/PulpQE/pulp-smash/blob/master/pulp_smash/tests/rpm/cli/test_copy_units.py#L18) especially helpful to make pulp-rpm tests robust.

But I'd also like to propose, is it possible for me to **refactor creating and syncing a global repo** into `pulp-smash/pulp_smash/tests/rpm/utils.py` directly? The reason is that, multiple tests may require one and **only

[2016-07-11 19:28] #300 closed

[2016-07-11 19:56] Ichimonji10 commented on #264
I'm assigning this to the July 29th milestone. I think this is issue is important in part because it's a brand new feature that's likely to land in Pulp 2.9 and in part because of RCM's involvement in testing this feature. (See #320.)

I'm not assigning this task to the current milestone of July 15th. This feature has an extensive description and conversation log on pulp.plan.io, and from my readi

[2016-07-12 15:00] Ichimonji10 commented on #330
I want to suss out a detail here: Are you proposing that `setUpModule` itself be moved into a `utils` module? Or are you proposing that the logic for creating and syncing (and destroying) a repository be moved into a `utils` module, and then calling that logic from `test*` modules?

If your proposal is the former, then - maybe that'll work? I'm unsure of what unittest2 (and the other commonly used

[2016-07-12 19:35] Ichimonji10 commented on #330
There's a couple interesting questions to suss out, still. Setting this to "discussion".

[2016-07-12 20:19] elyezer opened #332 "Drop Python 2 support"
Python 2.7 support have been extended until 2020 but there are some people panning already to move away from Python 2 and leverage Python 3's power.

The Python 3 statement website links some resources that can explain why dropping Python 2 support is a good thing. For Pulp Smash since it is intended to be run on one machine (probably a QE or developer machine) and test a Pulp server on another we

[2016-07-12 20:30] bmbouter commented on #332
:+1:

[2016-07-12 20:49] danuzclaudes commented on #330
The idea is creating a single repository, syncing data into it and then test on either langpacks, syncing, etc, with this "global" repository. It'll really speed up test execution time.

However, there are two ways to implement this idea:
(1) Module call approach: this has already been tried with [this branch](https://github.com/PulpQE/pulp-smash/compare/master...danuzclaudes:2.9-issue-setupmodule

[2016-07-13 13:04] Ichimonji10 commented on #332
I'd be excited to switch to Python 3. The switch would let us drop mock, unittest2, and all cross-compatibility code. (e.g. `__future__` statements and `type(u'')` expressions) It would also let us start taking advantage of newer features, like [new function calling syntax & semantics](http://pastebin.com/vCCLQqSz) and [exception chaining](http://stackoverflow.com/a/16414892). (See [PEP 3102](http

[2016-07-13 13:08] Ichimonji10 commented on #332
@omaciel @danuzclaudes @preethit @ipanova etc.

[2016-07-13 14:44] Ichimonji10 commented on #330
This approach is feasible, just not with the specific approach listed in that branch. In that branch, repositories are created and synced in `setUpModule()` functions and destroyed in `tearDownModule()` functions. That's totally OK; what's problematic is to store these module-wide repository IDs in `pulp_smash/tests/rpm/cli/utils.py`. What happens if two different modules are executed in parallel?

[2016-07-13 15:27] danuzclaudes commented on #330
@Ichimonji10: Thank you for you detailed tutorials on it. And I agree that it is not the PulpQE's focus. I'll close this discussion then.

[2016-07-13 15:27] #330 closed

[2016-07-15 10:01] BrnoPCmaniak commented on #332
What I know OS X comes preloaded with IPython 2.7. But I'm not 100% sure.

[2016-07-15 13:32] elyezer commented on #332
Who is currently using Mac OS X to run Pulp Smash?

[2016-07-15 13:48] Ichimonji10 commented on #332
Og, possibly. And anecdotally, I've seen Mac OS be used heavily by developers.

How hard is it to install Python 3 and create a Python 3 virtualenv on Mac OS?

[2016-07-15 13:58] BrnoPCmaniak commented on #332
If you are developer, quite easy. For ordinary user quite hard I would say (Installing Xcode/gcc).
http://docs.python-guide.org/en/latest/starting/install/osx/#doing-it-right
You have to use brew, I think. And as long as you don't want to use brew on multiple accounts, brew is just copy-paste.

[2016-07-15 14:06] elyezer commented on #332
This can be an issue on dropping support. I will check on my Mac what is the latest Python version available if that is 2.7.10+ then we can start slowly dropping support and do a hard drop later.

[2016-07-20 18:26] jeremycline commented on #285
Based on https://pulp.plan.io/issues/2038 I think it would be helpful to include lazy and non-lazy repositories in this test.

One easy way to assert traffic is going through the proxy is to drop all http/https traffic that doesn't have the proxy as a destination with iptables/firewalld. This will cause the connection to time out (in about 6 seconds, I expect) and the sync to fail.

[2016-07-21 10:04] BrnoPCmaniak opened #336 "Test uploading DRPMs"
Tests for Uploading DRPMs from [story 1806](https://pulp.plan.io/issues/1806).

API
===

Steps:

1. Create a repository
2. Upload DRPM

Assert:

1. DRPM is in content retrieval of the repo.
2. DRPM has a correct name

CLI
===

## Test Upload
Steps:

1. Create repository
2. Upload DRPM

Assert:

output of `pulp-admin rpm repo content drpm` matches:

[code]

## Test skip existing

Steps:
1. Create R

[2016-07-21 13:13] elyezer commented on #336
@BrnoPCmaniak great.

A little tip, currently on https://github.com/PulpQE/pulp-fixtures we don't have any DRPM fixtures, if you need some binary files to upload the fixtures is the place.

[2016-07-21 13:20] Ichimonji10 commented on #336
https://github.com/PulpQE/pulp-fixtures/issues/11

[2016-07-22 12:45] Ichimonji10 commented on #336
Fixed by https://github.com/PulpQE/pulp-smash/pull/337

[2016-07-22 12:45] #336 closed

[2016-07-25 15:34] Ichimonji10 commented on #264
The developers have shared their test plan with us. See: https://pulp.plan.io/issues/1759#note-20

[2016-07-25 17:23] elyezer opened #339 "Test if a full re-sync can be forced (force_full importer option)"
https://pulp.plan.io/issues/1982

Setting or overriding force_full option on a Importer will cause a full re-sync to be performed. Check if that  can be done by:
- Setting it to true
- Setting it to false
- Omitting it

The last two items a full re-sync must not happen.

The force_full importer option was added on Pulp 2.10, the test should make sure to just run when testing a Pulp 2.10 system.

[2016-07-25 17:32] elyezer opened #340 "Test if updateinfo.xml checksum can be chosen"
https://pulp.plan.io/issues/1878

Given an errata where the package list has checksums of multiple types, test if pulp can publish only one of those types, and filter out any others.

For example, if the package list has MD5 and SHA256 then setting `updateinfo_checksum_type` distributor option to `SHA256` must publish a updateinfo.xml with only SHA256 listed and MD5 filtered out.

This option was

[2016-07-25 17:39] elyezer opened #341 "Test if Pulp can sync registries that requires authentication"
https://pulp.plan.io/issues/1291

Some registries like docker hub may require username and password in addition to the feed URL. Test if Pulp accepts the username and password option as well as if it is able to sync authenticated registries.

Check if Pulp can accept the username and password when creating Docker repositories and if it can sync the authentication required registry. On CLI it shoul

[2016-07-25 17:48] elyezer opened #342 "Test if Pulp stores and publish signed RPMs, DRPMs and SRPMs"
https://pulp.plan.io/issues/1156

Test if Pulp is able to extract the signature information of a RPM, DRPM or SRPM and it can publish units with valid signature information.

This feature is added on Pulp 2.10.

[2016-07-25 17:58] elyezer opened #343 "Test if multiple pulp_resource_manager can be run"
https://pulp.plan.io/issues/898

Test if multiple pulp_resource_manager can be run without one interfering on the other. This will be a kind of redundancy test, if the original pulp_resource_manager get killed then the redundant one should take its place.

The proposed test path is:
- Run two or more pulp_resource_manager processes
- Check which process is the main (the current used one)
- Kill th

[2016-07-26 19:01] #319 closed

[2016-07-31 12:25] ipanova opened #347 "As a user, units which don't pass the signature check are not imported"
1)create repo with feed and specify list of allowed keys( which are different from the signing keys of synced content).
2) sync repo
3) check that none of those packages were imported into the repo
4) check the counter of not imported packages is correct

1) create repo with feed and specify list of allowed keys( which is the same as the signing keys of synced content).
2) sync repo
3) check that

[2016-08-01 13:30] dralley commented on #339
@elyezer Just to clarify re: "The last two items a full re-sync must not happen."

There are a number of conditions that should trigger a full resync - the force_full flag is only one of them.  For instance, if there is no previous sync, if the configuration has changed since the last sync, if content has been removed since the last sync, etc.  If any of those conditions are true a sync will (and

[2016-08-01 14:04] elyezer commented on #339
@dralley thanks for the clarification.

[2016-08-01 14:28] dralley commented on #339
@elyezer  No problem!  Also that's not an exhaustive list - there are a few others and some may vary by plugin.

[2016-08-04 13:55] seandst opened #349 "test_download_policies tests failing"
Recent smash runs in jenkies have been failing in the test_download_policies modules with tracebacks like this:
[code]
I've attempted to reproduce these issues manually, but can't replicate the 503 response from the streamer. I'm opening this to try to nail down if it's a test enviornment bug or an actual pulp bug.

Apologies for the non-internet-friendly link, but here's the test run that generat

[2016-08-08 15:02] Ichimonji10 commented on #347
Very, very good issue. Thank you, @ipanova.

[2016-08-09 19:25] Ichimonji10 commented on #349
I can reproduce this issue both on a pair of Pulp 2.9.3 and 2.10.0 systems provisioned yesterday with http://pastebin.com/BKAZhxen.

[2016-08-09 19:27] Ichimonji10 commented on #349
In short, here's the error:

[code]

I'll file a bug, or find one in pulp.plan.io.

[2016-08-09 19:59] #349 closed

[2016-08-10 14:06] Ichimonji10 commented on #332
I'd really love a chance to run through the Python 3 installation process myself on a Mac. The official [Python for Beginners](https://www.python.org/about/gettingstarted/) page gives the impression that it's easy to get python 3 installed. By the way, Python 3 ships with pip and venv in the standard library.

[2016-08-10 15:21] elyezer commented on #332
@Ichimonji10 there are installers for Python 3, see [1]. Those pkg are very easy to install on Mac OS so I think we are safe to support only Python 3.

[1] https://www.python.org/downloads/mac-osx/

[2016-08-10 15:22] elyezer commented on #332
I will try that myself and will report the results here.

[2016-08-10 18:22] Ichimonji10 commented on #332
@elyezer Can you make sure to create a virtualenv? It should be as simple as `python3 -m venv env`. It *should* work, but I just want to have that sanity check.

[2016-08-10 19:59] #301 closed

[2016-08-11 07:55] seandst opened #353 "--force-full not supported on sync until 2.10"
2.9 added the ability to --force-full when publishing a repo in https://pulp.plan.io/issues/1158, but the corresponding ability to --force-full when *syncing* a repo arrives in 2.10, with the completion of https://pulp.plan.io/issues/1982.

pulp_smash.tests.rpm.cli.test_sync.ForceSyncTestCase.test_force_sync is currently failing against 2.9 because this feature is not supported on that release.

[2016-08-11 16:06] #353 closed

[2016-08-11 18:45] Ichimonji10 commented on #347
Related: https://pulp.plan.io/issues/1991

[2016-08-12 19:00] Ichimonji10 commented on #347
A first round of tests targeting this issue have been merged. See 7779cea52adeb009b280190fd4050c6abebdb2af. The commit message is as follows:

[2016-08-15 14:35] elyezer commented on #332
I have verified that installing Python 3 is very easy. First I went to the Python's website and downloaded the latest stable Python 3 version. The image below show that the site identifies the Operating System and provide an easy download button.

![screen shot 2016-08-15 at 11 19 34 am](https://cloud.githubusercontent.com/assets/48132/17667342/ee22a10a-62da-11e6-97c8-023d83c76955.png)

Then I ope

[2016-08-15 14:46] Ichimonji10 commented on #332
This addresses my concern about whether Mac users will be able to use Pulp Smash.

I'm not worried about Linux users. Some folks (RHEL 5 users, and maybe RHEL 6 too?) still don't have easy access to Python 3. However, I imagine that someone using one of these older enterprise distributions is knowledgeable to either:

* Get Python 3 installed on their system, despite the higher barrier to entry, o

[2016-08-15 14:47] omaciel commented on #332
I have been using Python 3 and creating virtual envs with it by using `brew install python3`.

[2016-08-15 14:51] elyezer commented on #332
It seems that we finally reached an agreement that dropping Python 2 is something that will not be something bad for the users. With that said I will close this issue and create a plan for dropping Python 2 support.

[2016-08-15 14:51] #332 closed

[2016-08-15 14:55] elyezer opened #356 "Remove all Python 2 related compatibility"
On #332 we agreed that we are able to drop Python 2 support for Pulp Smash. Here is the plan to actually get that done:

- [ ] Drop the compat module
- [ ] Update the imports to reflect the removal of the compat module
- [ ] Drop unittest2 in favor of Python 3's unitttest module and update the code
- [ ] Drop mock in favor of the builtin Python 3's mock
- [ ] Update the `setup.py` file
- [ ] Updat

[2016-08-15 14:57] Ichimonji10 commented on #356
Added "Update the `setup.py` file"

[2016-08-15 15:09] Ichimonji10 commented on #356
Will we need to update the Jenkins jobs?

[2016-08-15 15:14] elyezer commented on #356
No, Jenkins jobs are running on a Fedora 23 slave which already have Python 3 installed, it should just work.

[2016-08-18 19:20] Ichimonji10 commented on #264
This is a little note to myself. I'm dumping it here for convenience.

        # TODO: Rename test case to FastForwardTestCase. Add these steps.
        #
        # 4. Remove all files from the target directory. Publish with the rpm
        #    rsync distributor, and verify that no files are in the target
        #    directory. (This tests Pulp's fast-forward logic.)
        # 5. Perform a full

[2016-08-24 18:50] preethit opened #368 "Docker repo sync works with basicauth #1291"
The idea is to sync a private docker repo from dockerhub. You will need
to create a dockerhub account, create a repo, and sync it using
--basicauth-user and --basicauth-pass from the CLI.
1. Create a private docker repo
2. Create a docker repo with the feed
   pulp-admin docker repo create --repo-id foo r --feed --feed=https://registry-1.docker.io --basickauth-user user --basicauth-pass pass --ups

[2016-08-24 20:43] omaciel commented on #368
@preethit thank you for the steps. Now, we need the expected outcome you want the automated tests to validate. for example, I can assume that you'd want the private docker repo to be successfully synchronized. Are there any other checks/validations that should be performed?

[2016-08-25 12:21] preethit commented on #368
@omaciel updated the issue with validation info.

[2016-08-25 20:16] Ichimonji10 commented on #264
This is a note to self, listing some additional steps to be added to `RemoteUnitsPathTestCase`:

4. Remove all files from the target system's ``root`` directory, i.e. the
   directory specified by the RPM rsync distributor's ``root`` option.
5. Publish with the RPM rsync distributor again, and pass a different
   ``remote_units_path`` as an override option. Verify that files are
   placed in this

[2016-08-25 20:49] Ichimonji10 commented on #264
I wrote up another test case, named `RemoteUnitsPathTestCase`. You can see my work here: https://github.com/PulpQE/pulp-smash/compare/master...Ichimonji10:remote-units-path

Unfortunately, the test doesn't currently pass, and I don't have time to fix it this week. See:

* https://pulp.plan.io/issues/2209
* https://pulp.plan.io/issues/2210

[2016-08-29 16:57] Ichimonji10 commented on #264
Pull request updated and submitted as #375.

[2016-09-02 20:12] preethit opened #384 "Repos can be created and synced successfully with mirrorlist feed"
Test that repos can be created and synced with mirrorlist --feed
https://pulp.plan.io/issues/2224
https://pulp.plan.io/issues/175

1. pulp-admin -vv rpm repo create --repo-id mirror --feed "http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os"  --relative-url mirror

2. pulp-admin rpm repo sync run --repo-id=mirror

Assert that

1. Repo create is successful with the --relative-url
2. Repo c